openapi: 3.2.0
info:
  title: Huma Platform Custom Module Config API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Custom Module Config
paths:
  /api/extensions/v1/user/{user_id}/moduleConfig/{module_config_id}:
    put:
      operationId: api_extensions_v1_user_moduleConfig_update_[create_or_update_custom_module_config_for_user]
      summary: Create Or Update Custom Module Config For User
      parameters:
      - in: path
        name: module_config_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Custom Module Config
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/user/{user_id}/moduleConfig/{module_config_id}/logs:
    get:
      operationId: api_extensions_v1_user_moduleConfig_logs_retrieve_[retrieve_custom_module_config_logs_for_user]
      summary: Retrieve Custom Module Config Logs For User
      parameters:
      - in: path
        name: module_config_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Custom Module Config
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/user/{user_id}/moduleConfigs:
    get:
      operationId: api_extensions_v1_user_moduleConfigs_retrieve_[retrieve_custom_module_configs_of_user]
      summary: Retrieve Custom Module Configs Of User
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Custom Module Config
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/user/configs:
    post:
      operationId: api_extensions_v1_user_configs_create_[retrieve_custom_module_configs]
      summary: Retrieve Custom Module Configs
      tags:
      - Custom Module Config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveCustomModuleConfigsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveCustomModuleConfigsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveCustomModuleConfigsRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCustomModuleConfigsResponseObjectDRF'
          description: ''
components:
  schemas:
    RetrieveCustomModuleConfigsRequestObjectDRF:
      type: object
      properties:
        userIds:
          type: array
          items:
            type: string
        deploymentId:
          type: string
      required:
      - deploymentId
      - userIds
    RetrieveCustomModuleConfigsResponseObjectDRF:
      type: object
      properties:
        configs:
          type: object
          additionalProperties: {}
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
