openapi: 3.2.0
info:
  title: Huma Platform Widgets API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Widgets
paths:
  /api/sdk/v1/user/{user_id}/widget/ai.lifelight.widget.ai_scan/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_ai.lifelight.widget.ai_scan_retrieve_[func]
      description: Ai Lifelight Widget Ai Scan
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.connection/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.connection_retrieve_[func]
      description: Connection
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.device_sync/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.device_sync_retrieve_[func]
      description: Device Sync
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.diary/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.diary_retrieve_[func]
      description: Diary
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiaryWidgetResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.act/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.act_retrieve_[func]
      description: ePRO ACT
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.ahq/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.ahq_retrieve_[func]
      description: ePRO AHQ
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.cat/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.cat_retrieve_[func]
      description: ePRO CAT
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.dds/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.dds_retrieve_[func]
      description: ePRO DDS
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.eq5d5l/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.eq5d5l_retrieve_[func]
      description: ePRO EQ5D5L
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.gad7/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.gad7_retrieve_[func]
      description: ePRO GAD7
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.ikdc/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.ikdc_retrieve_[func]
      description: ePRO IKDC
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.kccq/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.kccq_retrieve_[func]
      description: ePRO KCCQ
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.mg_adl/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.mg_adl_retrieve_[func]
      description: ePRO MG_ADL
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.ndi/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.ndi_retrieve_[func]
      description: ePRO NDI
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.odi/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.odi_retrieve_[func]
      description: ePRO ODI
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.phq8/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.phq8_retrieve_[func]
      description: ePRO PHQ8
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.promis_pain/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.promis_pain_retrieve_[func]
      description: ePRO PROMIS Pain
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.promis_physical/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.promis_physical_retrieve_[func]
      description: ePRO PROMIS Physical
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.pss/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.pss_retrieve_[func]
      description: ePRO PSS
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.sf36/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.sf36_retrieve_[func]
      description: ePRO SF36
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.epro.whq/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.epro.whq_retrieve_[func]
      description: ePRO WHQ
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.featuredArticles/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.featuredArticles_retrieve_[func]
      description: Featured Articles
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CMSLearnArticleResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.feedback.sleep/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.feedback.sleep_retrieve_[func]
      description: Feedback Sleep
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.five_lives/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.five_lives_retrieve_[func]
      description: FiveLives
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FiveLivesWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.geolocation/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.geolocation_retrieve_[func]
      description: Geolocation
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeolocationDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.header/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.header_retrieve_[func]
      description: Header
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.health-coach/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.health_coach_retrieve_[func]
      description: Health Coach
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.huma_watch/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.huma_watch_retrieve_[func]
      description: Huma Watch
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.learn/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.learn_retrieve_[func]
      description: Learn
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearnWidgetSectionResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.medication/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.medication_retrieve_[func]
      description: Medication
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.mg.arm_fatigue/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.mg.arm_fatigue_retrieve_[func]
      description: MG Arm Fatigue
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MGDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.mg.ptosis/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.mg.ptosis_retrieve_[func]
      description: MG Ptosis
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MGDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.mg.voice_assessments/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.mg.voice_assessments_retrieve_[func]
      description: MG Voice Assessments
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VADataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.oms/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.oms_retrieve_[func]
      description: Order Management System
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OMSWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.profile/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.profile_retrieve_[func]
      description: Profile
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.questionnaire.cms.scored/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.questionnaire.cms.scored_retrieve_[func]
      description: Questionnaire Cms Scored
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionnaireWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.questionnaire.cms/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.questionnaire.cms_retrieve_[func]
      description: Questionnaire Cms
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionnaireWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.questionnaire.scored/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.questionnaire.scored_retrieve_[func]
      description: Questionnaire Scored
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionnaireWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.questionnaire/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.questionnaire_retrieve_[func]
      description: Questionnaire
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionnaireWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.reminder/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.reminder_retrieve_[func]
      description: Reminder
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.surgery_checklist/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.surgery_checklist_retrieve_[func]
      description: Surgery Checklist
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SurgeryChecklistWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.todo/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.todo_retrieve_[func]
      description: Todo
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToDoWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.treatment/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.treatment_retrieve_[func]
      description: Treatment
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TreatmentWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.virtual_care.hypertension/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.virtual_care.hypertension_retrieve_[func]
      description: Virtual Care Hypertension
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HypertensionWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.virtual_care/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.virtual_care_retrieve_[func]
      description: Virtual Care
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualCareWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.air_quality/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.air_quality_retrieve_[func]
      description: Vitals Air Quality
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.blood_glucose/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.blood_glucose_retrieve_[func]
      description: Vitals Blood Glucose
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.blood_pressure/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.blood_pressure_retrieve_[func]
      description: Vitals Blood Pressure
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.bmi/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.bmi_retrieve_[func]
      description: Vitals BMI
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.body_power/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.body_power_retrieve_[func]
      description: Vitals Body Power
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.body_stress/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.body_stress_retrieve_[func]
      description: Vitals Body Stress
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.cvd_risk_score/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.cvd_risk_score_retrieve_[func]
      description: CVD Risk Score
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.daily_check_in/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.daily_check_in_retrieve_[func]
      description: Vitals Daily Check In
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.heart_rate/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.heart_rate_retrieve_[func]
      description: Vitals Heart Rate
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.journal/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.journal_retrieve_[func]
      description: Vitals Journal
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.medication/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.medication_retrieve_[func]
      description: Vitals Medication
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.oxygen_saturation/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.oxygen_saturation_retrieve_[func]
      description: Vitals Oxygen Saturation
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.peak_flow/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.peak_flow_retrieve_[func]
      description: Vitals Peak Flow
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.photo/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.photo_retrieve_[func]
      description: Vitals Photo
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.respiratory_rate/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.respiratory_rate_retrieve_[func]
      description: Vitals Respiratory Rate
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.sleep/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.sleep_retrieve_[func]
      description: Vitals Sleep
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.spirometry/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.spirometry_retrieve_[func]
      description: Vitals Spirometry
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.step/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.step_retrieve_[func]
      description: Vitals Step
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.symptom/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.symptom_retrieve_[func]
      description: Vitals Symptom
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.temperature/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.temperature_retrieve_[func]
      description: Vitals Temperature
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.vitals.weight/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.vitals.weight_retrieve_[func]
      description: Vitals Weight
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VitalsDataResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.welcome/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.welcome_retrieve_[func]
      description: Welcome
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WelcomeWidgetResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.wellness/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.wellness_retrieve_[func]
      description: Wellness
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/sdk/v1/user/{user_id}/widget/com.huma.widget.who/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.huma.widget.who_retrieve_[func]
      description: WHO
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WHOWidgetResponseDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.pfizer.widget.hemophilia_journal/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.pfizer.widget.hemophilia_journal_retrieve_[func]
      description: Com Pfizer Widget Hemophilia Journal
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HemophiliaResponseObjectDRF'
          description: ''
  /api/sdk/v1/user/{user_id}/widget/com.roche.widget.pre_eclampsia_risk/{widget_id}:
    get:
      operationId: api_sdk_v1_user_widget_com.roche.widget.pre_eclampsia_risk_retrieve_[func]
      description: Com Roche Widget Pre Eclampsia Risk
      summary: Func
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: widget_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Widgets
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CDSDataResponseObjectDRF'
          description: ''
components:
  schemas:
    FiveLivesWidgetResponseDRF:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        about:
          type: string
        rank:
          type: string
        scoreTables:
          type: array
          items:
            $ref: '#/components/schemas/ScoreTableDRF'
        gameId:
          type: string
        buttonText:
          type: string
      required:
      - about
      - buttonText
      - description
      - gameId
      - rank
      - title
    VADataResponseObjectDRF:
      type: object
      properties:
        unit:
          type: array
          items:
            type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/VitalsDataFieldDRF'
        value:
          type: array
          items:
            type: string
        description:
          type: string
        date:
          type: string
          format: date-time
        seen:
          type: boolean
        footer:
          type: array
          items:
            $ref: '#/components/schemas/FootnoteDRF'
        learnArticles:
          type: array
          items:
            $ref: '#/components/schemas/CMSLearnArticleDRF'
        chartConfig:
          $ref: '#/components/schemas/VAChartConfigDRF'
      required:
      - chartConfig
      - seen
      - unit
    ChecklistDRF:
      type: object
      properties:
        title:
          type: string
        subtitle:
          type: string
        checklist:
          type: array
          items:
            $ref: '#/components/schemas/CalendarEventDTODRF'
        isActive:
          type: boolean
    ServerDRF:
      type: object
      properties:
        hostUrl:
          type: string
        server:
          type: string
        api:
          type: string
      required:
      - api
      - hostUrl
      - server
    ScoreItemDRF:
      type: object
      properties:
        value:
          type: integer
        date:
          type: string
      required:
      - date
      - value
    DiaryOverviewDRF:
      type: object
      properties:
        title:
          type: string
        value:
          type: string
        diarySidebar:
          type: string
        valueTextColor:
          type: string
        startDateTime:
          type: string
          format: date-time
        localizationData:
          type: object
          additionalProperties: {}
      required:
      - startDateTime
      - title
    MGChartConfigDRF:
      type: object
      properties:
        legends:
          type: array
          items:
            type: string
        yMinValue:
          type: integer
        yMaxValue:
          type: integer
        thresholdLineValue:
          type: integer
      required:
      - legends
      - thresholdLineValue
      - yMaxValue
      - yMinValue
    MGDataResponseObjectDRF:
      type: object
      properties:
        unit:
          type: array
          items:
            type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/VitalsDataFieldDRF'
        value:
          type: array
          items:
            type: string
        description:
          type: string
        date:
          type: string
          format: date-time
        seen:
          type: boolean
        footer:
          type: array
          items:
            $ref: '#/components/schemas/FootnoteDRF'
        learnArticles:
          type: array
          items:
            $ref: '#/components/schemas/CMSLearnArticleDRF'
        chartConfig:
          $ref: '#/components/schemas/MGChartConfigDRF'
      required:
      - chartConfig
      - seen
      - unit
    ProductDTODRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        image:
          type: string
        sku:
          type: string
      required:
      - image
      - sku
      - title
    BodyMapItemDRF:
      type: object
      properties:
        location:
          type: string
        color:
          type: string
    HypertensionWidgetResponseDRF:
      type: object
      properties:
        learnArticle:
          $ref: '#/components/schemas/CMSLearnArticleDRF'
        range:
          type: string
        value:
          type: array
          items:
            type: string
        units:
          type: array
          items:
            type: string
        date:
          type: string
          format: date-time
        iconColor:
          type: string
        greeting:
          type: string
        source:
          type: string
    HemophiliaResponseObjectDRF:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        primaryCTAtext:
          type: string
        secondaryCTAtext:
          type: string
        state:
          type: string
        legend:
          type: array
          items:
            $ref: '#/components/schemas/LegendItemDRF'
        bodyMapColor:
          type: array
          items:
            $ref: '#/components/schemas/BodyMapItemDRF'
        tooltip:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/HemophiliaJournalDTODRF'
        hasSubmissions:
          type: boolean
    AppSectionDRF:
      type: object
      properties:
        title:
          type: string
        order:
          type: integer
        type:
          type: string
        status:
          type: string
        onboardingItems:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingItemDRF'
        moduleConfigId:
          type: string
        learnArticleId:
          type: string
        content:
          $ref: '#/components/schemas/LearnArticleContentDRF'
      required:
      - order
      - status
      - title
      - type
    CMSRecommendationDTODRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        content:
          type: string
        reviewer:
          type: string
        language:
          type: string
        photo:
          type: string
      required:
      - content
      - language
      - title
    OnboardingItemDRF:
      type: object
      properties:
        onboardingId:
          type: string
        order:
          type: integer
        completed:
          type: boolean
        configBody:
          type: object
          additionalProperties: {}
      required:
      - completed
      - onboardingId
      - order
    FeedbackNotificationDataDRF:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
        offline:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        order:
          type: integer
    OMSWidgetResponseDRF:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: '#/components/schemas/ProductDTODRF'
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderDTODRF'
    WHOWidgetResponseDRF:
      type: object
      properties:
        unit:
          type: array
          items:
            type: string
        data:
          type: array
          items:
            type: string
        value:
          type: array
          items:
            type: string
        description:
          type: string
        date:
          type: string
          format: date-time
        seen:
          type: boolean
        footer:
          type: array
          items:
            $ref: '#/components/schemas/FootnoteDRF'
        learnArticles:
          type: array
          items:
            $ref: '#/components/schemas/CMSLearnArticleDRF'
      required:
      - unit
    PointDataFieldDRF:
      type: object
      properties:
        latitude:
          type: string
          format: decimal
          pattern: ^-?\d{0,15}(?:\.\d{0,4})?$
        longitude:
          type: string
          format: decimal
          pattern: ^-?\d{0,15}(?:\.\d{0,4})?$
        altitude:
          type: string
          format: decimal
          pattern: ^-?\d{0,15}(?:\.\d{0,4})?$
        samplingDateTime:
          type: string
          format: date-time
      required:
      - latitude
      - longitude
      - samplingDateTime
    FeedbackTextDRF:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        order:
          type: integer
      required:
      - id
      - text
    CMSLearnArticleDRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        thumbnailUrl:
          $ref: '#/components/schemas/S3ObjectDRF'
        order:
          type: integer
        content:
          $ref: '#/components/schemas/CMSLearnArticleContentDRF'
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        tags:
          type: array
          items:
            type: string
        thumbnailImageUrl:
          type: string
      required:
      - content
      - type
    OrderItemDRF:
      type: object
      properties:
        productId:
          type: string
        quantity:
          type: integer
        sku:
          type: string
        title:
          type: string
        image:
          type: string
      required:
      - productId
      - quantity
      - sku
    DeviceDetailsDRF:
      type: object
      properties:
        uuid:
          type: string
        serialNumber:
          type: string
        modelName:
          type: string
        manufacturer:
          type: string
      required:
      - manufacturer
      - modelName
      - uuid
    CMSLearnArticleResponseDRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        thumbnailUrl:
          $ref: '#/components/schemas/S3ObjectDRF'
        order:
          type: integer
        content:
          $ref: '#/components/schemas/CMSLearnArticleContentDRF'
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        tags:
          type: array
          items:
            type: string
        thumbnailImageUrl:
          type: string
      required:
      - content
      - type
    VAChartConfigDRF:
      type: object
      properties:
        legends:
          type: array
          items:
            type: string
        yMinValue:
          type: integer
        yMaxValue:
          type: integer
        yMinLabel:
          type: string
        yMaxLabel:
          type: string
        backgroundLinesNumber:
          type: integer
      required:
      - backgroundLinesNumber
      - legends
      - yMaxLabel
      - yMaxValue
      - yMinLabel
      - yMinValue
    CalendarEventDTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        description:
          type: string
        model:
          type: string
        isRecurring:
          type: boolean
        instanceExpiresIn:
          type: string
        startDateTime:
          type: string
        endDateTime:
          type: string
        enabled:
          type: boolean
        extraFields:
          type: object
          additionalProperties: {}
        parentId:
          type: string
        snoozing:
          type: array
          items:
            type: string
        hasCustomSchedule:
          type: boolean
        isSilent:
          type: boolean
        updateDateTime:
          type: string
        createDateTime:
          type: string
        completeDateTime:
          type: string
      required:
      - model
    VirtualCareWidgetResponseDRF:
      type: object
      properties:
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/CMSRecommendationDTODRF'
        value:
          type: array
          items:
            type: string
        units:
          type: array
          items:
            type: string
        date:
          type: string
          format: date-time
        greeting:
          type: string
        title:
          type: string
    CDSDataResponseObjectDRF:
      type: object
      properties:
        pregnancyDate:
          type: string
        state:
          type: string
        stage:
          type: string
        title:
          type: string
        subtitle:
          type: string
        description:
          type: string
        primaryCTAtext:
          type: string
        secondaryCTAtext:
          type: string
        progress:
          type: number
          format: double
        progressText:
          type: string
        message:
          $ref: '#/components/schemas/_CDSCardMessageDRF'
        imageUrl:
          type: string
        dueDate:
          type: string
    FootnoteDRF:
      type: object
      properties:
        enabled:
          type: boolean
        text:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    LearnArticleContentDRF:
      type: object
      properties:
        id:
          type: string
        cmsArticleId:
          type: string
        cmsThumbnail:
          type: string
        type:
          type: string
        timeToRead:
          type: string
        textDetails:
          type: string
        videoUrl:
          $ref: '#/components/schemas/S3ObjectDRF'
        url:
          type: string
        contentObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        read:
          type: boolean
        isValid:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - type
    QuestionnaireWidgetResponseDRF:
      type: object
      properties:
        unit:
          type: array
          items:
            type: string
        data:
          type: array
          items:
            type: string
        value:
          type: array
          items:
            type: string
        description:
          type: string
        date:
          type: string
          format: date-time
        seen:
          type: boolean
        footer:
          type: array
          items:
            $ref: '#/components/schemas/FootnoteDRF'
        learnArticles:
          type: array
          items:
            $ref: '#/components/schemas/CMSLearnArticleDRF'
      required:
      - seen
      - unit
    VitalsDataFieldDRF:
      type: object
      properties:
        x:
          type: integer
        y:
          type: array
          items:
            type: number
            format: double
        t:
          type: string
      required:
      - t
      - x
      - y
    S3ObjectDRF:
      type: object
      properties:
        bucket:
          type: string
        key:
          type: string
        region:
          type: string
      required:
      - bucket
      - key
    SurgeryChecklistWidgetResponseDRF:
      type: object
      properties:
        checklists:
          type: array
          items:
            $ref: '#/components/schemas/ChecklistDRF'
        surgeryDate:
          type: string
    DiaryWidgetResponseObjectDRF:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/DiaryOverviewDRF'
      required:
      - items
    ToDoWidgetResponseDRF:
      type: object
      properties:
        events:
          type: array
          items:
            $ref: '#/components/schemas/ToDoItemsResponseDRF'
        total:
          type: integer
      required:
      - total
    HemophiliaJournalDTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        moduleId:
          type: string
        moduleConfigId:
          type: string
        moduleResultId:
          type: string
        deploymentId:
          type: string
        version:
          type: integer
        deviceName:
          type: string
        isAggregated:
          type: boolean
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        submitterId:
          type: string
        correlationStartDateTime:
          type: string
          format: date-time
        client:
          $ref: '#/components/schemas/UserAgentDRF'
        server:
          $ref: '#/components/schemas/ServerDRF'
        ragThreshold:
          type: object
          additionalProperties: {}
        flags:
          type: object
          additionalProperties: {}
        eventLogId:
          type: string
        device:
          $ref: '#/components/schemas/DeviceDetailsDRF'
        source:
          type: string
        isAverage:
          type: boolean
        noteId:
          type: string
        feedback:
          $ref: '#/components/schemas/ModuleFeedbackDRF'
        meal:
          type: string
        userNote:
          type: string
        bodyLocation:
          type: string
        bodyPartInjury:
          type: string
        customBodyPart:
          type: string
        extraData:
          $ref: '#/components/schemas/HemophiliaJournalAnswersDRF'
      required:
      - bodyPartInjury
      - deploymentId
      - deviceName
      - moduleId
      - userId
    OrderDTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        cart:
          type: array
          items:
            $ref: '#/components/schemas/OrderItemDRF'
        status:
          type: string
        createDateTime:
          type: string
          format: date-time
        updateDateTime:
          type: string
          format: date-time
      required:
      - cart
      - createDateTime
      - status
      - updateDateTime
      - userId
    WelcomeWidgetResponseObjectDRF:
      type: object
      properties:
        completed:
          type: boolean
        sections:
          type: array
          items:
            $ref: '#/components/schemas/AppSectionDRF'
      required:
      - completed
    HemophiliaJournalAnswersDRF:
      type: object
      properties:
        accidentDate:
          type: string
          format: date-time
        treatment:
          type: object
          additionalProperties: {}
        reason:
          type: string
        severity:
          type: string
        scale:
          type: integer
        factorUnits:
          type: integer
        note:
          type: string
        photos:
          type: array
          items:
            type: string
      required:
      - accidentDate
      - reason
      - scale
      - severity
    ToDoItemsResponseDRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        description:
          type: string
        model:
          type: string
        isRecurring:
          type: boolean
        instanceExpiresIn:
          type: string
        startDateTime:
          type: string
        endDateTime:
          type: string
        enabled:
          type: boolean
        parentId:
          type: string
        hasCustomSchedule:
          type: boolean
        isSilent:
          type: boolean
        updateDateTime:
          type: string
        createDateTime:
          type: string
        completeDateTime:
          type: string
        appointmentDateTime:
          type: string
          format: date-time
        appointmentStatus:
          type: string
        appointmentId:
          type: string
        keyActionConfigId:
          type: string
        learnArticleId:
          type: string
        moduleId:
          type: string
        moduleConfigId:
          type: string
        deploymentId:
          type: string
        learnArticle:
          $ref: '#/components/schemas/CMSLearnArticleDRF'
      required:
      - keyActionConfigId
      - model
    _CDSCardMessageDRF:
      type: object
      properties:
        type:
          type: string
        text:
          type: string
    UserAgentDRF:
      type: object
      properties:
        product:
          type: string
        version:
          type: string
        softwareName:
          type: string
        softwareVersion:
          type: string
        bundleId:
          type: string
        build:
          type: string
        hardware:
          type: string
        component:
          type: string
        language:
          type: string
        clientType:
          type: string
      required:
      - product
      - softwareName
      - softwareVersion
      - version
    CMSLearnArticleContentDRF:
      type: object
      properties:
        id:
          type: string
        cmsArticleId:
          type: string
        cmsThumbnail:
          type: string
        type:
          type: string
        timeToRead:
          type: integer
        textDetails:
          type: string
        videoUrl:
          type: string
        url:
          type: string
        contentObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        read:
          type: boolean
        isValid:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        body:
          type: string
        contentType:
          type: string
    LearnWidgetSectionResponseDRF:
      type: object
      properties:
        sectionId:
          type: string
        articles:
          type: array
          items:
            $ref: '#/components/schemas/CMSLearnArticleDRF'
      required:
      - sectionId
    TreatmentWidgetResponseDRF:
      type: object
      properties:
        title:
          type: string
        totalCount:
          type: integer
        completedCount:
          type: integer
    ModuleFeedbackDRF:
      type: object
      properties:
        criteria:
          type: object
          additionalProperties: {}
        text:
          $ref: '#/components/schemas/FeedbackTextDRF'
        moduleData:
          type: object
          additionalProperties: {}
        language:
          type: string
        notificationData:
          $ref: '#/components/schemas/FeedbackNotificationDataDRF'
    ScoreTableDRF:
      type: object
      properties:
        title:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/ScoreItemDRF'
      required:
      - data
      - title
    LegendItemDRF:
      type: object
      properties:
        color:
          type: string
        label:
          type: string
    GeolocationDataResponseObjectDRF:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/PointDataFieldDRF'
        value:
          type: array
          items:
            type: string
        description:
          type: string
        date:
          type: string
          format: date-time
    VitalsDataResponseObjectDRF:
      type: object
      properties:
        unit:
          type: array
          items:
            type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/VitalsDataFieldDRF'
        value:
          type: array
          items:
            type: string
        description:
          type: string
        date:
          type: string
          format: date-time
        seen:
          type: boolean
        footer:
          type: array
          items:
            $ref: '#/components/schemas/FootnoteDRF'
        learnArticles:
          type: array
          items:
            $ref: '#/components/schemas/CMSLearnArticleDRF'
      required:
      - seen
      - unit
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
