openapi: 3.2.0
info:
  title: Huma Platform Servier Care Plan API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Servier Care Plan
paths:
  /api/care-plan/v1/user/{user_id}/care-plan:
    get:
      operationId: api_care_plan_v1_user_care_plan_retrieve_[retrieve_care_plan]
      description: Retrieve the care plan for the user.
      summary: Retrieve Care Plan
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Servier Care Plan
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarePlanResponseObjectDRF'
          description: ''
    post:
      operationId: api_care_plan_v1_user_care_plan_create_[assign_care_plan]
      summary: Assign Care Plan
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Servier Care Plan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignCarePlanRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AssignCarePlanRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AssignCarePlanRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
  /api/care-plan/v1/user/{user_id}/cycler/mock:
    post:
      operationId: api_care_plan_v1_user_cycler_mock_create_[mock_adp_cycler_data]
      description: Mock ADP Cycler data for testing purposes.
      summary: Mock Adp Cycler Data
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Servier Care Plan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MockADPCyclerDataRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MockADPCyclerDataRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MockADPCyclerDataRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponseDRF'
          description: ''
  /api/care-plan/v1/user/{user_id}/prescription:
    post:
      operationId: api_care_plan_v1_user_prescription_create_[create_prescription]
      summary: Create Prescription
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Servier Care Plan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePrescriptionRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreatePrescriptionRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreatePrescriptionRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
  /api/care-plan/v1/user/{user_id}/prescriptions:
    get:
      operationId: api_care_plan_v1_user_prescriptions_retrieve_[retrieve_prescriptions]
      description: Retrieve the prescriptions for the user.
      summary: Retrieve Prescriptions
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Servier Care Plan
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrescriptionsResponseObjectDRF'
          description: ''
components:
  schemas:
    AssignCarePlanRequestObjectDRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        name:
          type: string
        type:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - name
      - startDate
      - type
    ResultIdResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
    PrescriptionDTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        carePlanId:
          type: string
        name:
          type: string
        dosage:
          type: string
        unit:
          type: string
        frequency:
          type: string
        startTime:
          type: string
        endTime:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - carePlanId
      - dosage
      - frequency
      - name
      - startTime
      - unit
      - userId
    OkResponseDRF:
      type: object
      properties:
        ok:
          type: boolean
    PrescriptionsResponseObjectDRF:
      type: object
      properties:
        prescriptions:
          type: array
          items:
            $ref: '#/components/schemas/PrescriptionDTODRF'
    MockADPCyclerDataRequestObjectDRF:
      type: object
      properties:
        userId:
          type: string
        cycle:
          type: integer
    CarePlanResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        name:
          type: string
        type:
          type: string
        description:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - name
      - startDate
      - type
      - userId
    CreatePrescriptionRequestObjectDRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        carePlanId:
          type: string
        name:
          type: string
        dosage:
          type: string
        unit:
          type: string
        frequency:
          type: string
        startTime:
          type: string
        endTime:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - carePlanId
      - dosage
      - frequency
      - name
      - startTime
      - unit
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
