openapi: 3.2.0
info:
  title: Huma Platform Pfizer Hemophilia API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Pfizer Hemophilia
paths:
  /api/hemophilia/v1/user/{user_id}/prerequisites:
    get:
      operationId: api_hemophilia_v1_user_prerequisites_retrieve_[retrieve_prerequisites]
      description: 'Retrieve Hemophilia Profile

        Retrieve the latest record of the hemophilia profile questionnaire.'
      summary: Retrieve Prerequisites
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Pfizer Hemophilia
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HemophiliaPrerequisitesResponseObjectDRF'
          description: ''
    post:
      operationId: api_hemophilia_v1_user_prerequisites_create_[submit_prerequisites]
      description: 'Submit Hemophilia Profile

        Submit the hemophilia profile questionnaire result.'
      summary: Submit Prerequisites
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Pfizer Hemophilia
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HemophiliaPrerequisitesRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HemophiliaPrerequisitesRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/HemophiliaPrerequisitesRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
components:
  schemas:
    ResultIdResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
    HemophiliaPrerequisitesResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        answers:
          type: array
          items:
            $ref: '#/components/schemas/QuestionnaireAnswerDRF'
        targetJoints:
          type: array
          items:
            type: string
        prophylacticMedication:
          type: object
          additionalProperties: {}
        asNeededMedication:
          type: object
          additionalProperties: {}
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - answers
      - userId
    HemophiliaPrerequisitesRequestObjectDRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        answers:
          type: array
          items:
            $ref: '#/components/schemas/QuestionnaireAnswerDRF'
        targetJoints:
          type: array
          items:
            type: string
        prophylacticMedication:
          type: object
          additionalProperties: {}
        asNeededMedication:
          type: object
          additionalProperties: {}
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - answers
    QuestionnaireAnswerMediaFileDRF:
      type: object
      properties:
        file:
          type: string
        thumbnail:
          type: string
        mediaType:
          type: string
      required:
      - file
      - mediaType
    QuestionnaireAnswerDRF:
      type: object
      properties:
        id:
          type: string
        answerText:
          type: string
        answersList:
          type: array
          items:
            type: string
        filesList:
          type: array
          items:
            $ref: '#/components/schemas/QuestionnaireAnswerMediaFileDRF'
        otherText:
          type: string
        value:
          type: string
        compositeAnswer:
          type: object
          additionalProperties: {}
        answerScore:
          type: integer
        questionId:
          type: string
        question:
          type: string
        format:
          type: string
        choices:
          type: array
          items:
            type: string
        selectedChoices:
          type: array
          items:
            type: string
        otherSelectedChoices:
          type: array
          items:
            type: string
        selectionCriteria:
          type: string
        lowerBound:
          type: number
          format: double
        upperBound:
          type: number
          format: double
        lists:
          type: array
          items:
            type: string
        units:
          type: array
          items:
            type: string
        selectedUnit:
          type: string
        recalledText:
          type: array
          items:
            type: string
        options:
          type: array
          items:
            type: object
            additionalProperties: {}
      required:
      - question
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
