openapi: 3.2.0
info:
  title: Huma Platform Revere API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Revere
paths:
  /api/extensions/v1/user/{ser_id}/revere-test/export/:
    post:
      operationId: api_extensions_v1_user_revere_test_export_create_[export_revere]
      summary: Export Revere
      parameters:
      - in: path
        name: ser_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Revere
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRevereResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExportRevereResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExportRevereResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      deprecated: true
      responses:
        '200':
          description: Archive with data
  /api/extensions/v1/user/{user_id}/revere-test/:
    get:
      operationId: api_extensions_v1_user_revere_test_retrieve_[retrieve_finished_user_tests]
      summary: Retrieve Finished User Tests
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Revere
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      deprecated: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevereTestDTODRF'
          description: ''
  /api/extensions/v1/user/{user_id}/revere-test/{test_id}/:
    get:
      operationId: api_extensions_v1_user_revere_test_retrieve_[export_test_result]
      summary: Export Test Result
      parameters:
      - in: path
        name: test_id
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Revere
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      deprecated: true
      responses:
        '200':
          description: CSV file with test results
  /api/extensions/v1/user/{user_id}/revere-test/{test_id}/finish/:
    post:
      operationId: api_extensions_v1_user_revere_test_finish_create_[finish_test]
      summary: Finish Test
      parameters:
      - in: path
        name: test_id
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Revere
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      deprecated: true
      responses:
        '204':
          description: No response body
  /api/extensions/v1/user/{user_id}/revere-test/{test_id}/words/{word_list_id}/audio/:
    post:
      operationId: api_extensions_v1_user_revere_test_words_audio_create_[upload_audio_result]
      summary: Upload Audio Result
      parameters:
      - in: path
        name: test_id
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: word_list_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Revere
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessAudioResultRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProcessAudioResultRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ProcessAudioResultRequestBodyDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      deprecated: true
      responses:
        '204':
          description: No response body
  /api/extensions/v1/user/{user_id}/revere-test/all/:
    get:
      operationId: api_extensions_v1_user_revere_test_all_retrieve_[retrieve_all_user_tests]
      summary: Retrieve All User Tests
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Revere
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      deprecated: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevereTestDTODRF'
          description: ''
  /api/extensions/v1/user/{user_id}/revere-test/start/:
    post:
      operationId: api_extensions_v1_user_revere_test_start_create_[start_test]
      summary: Start Test
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Revere
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      deprecated: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartRevereTestResponseDRF'
          description: ''
components:
  schemas:
    S3ObjectDRF:
      type: object
      properties:
        bucket:
          type: string
        key:
          type: string
        region:
          type: string
      required:
      - bucket
      - key
    FeedbackNotificationDataDRF:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
        offline:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        order:
          type: integer
    ServerDRF:
      type: object
      properties:
        hostUrl:
          type: string
        server:
          type: string
        api:
          type: string
      required:
      - api
      - hostUrl
      - server
    RevereTestWordObjectDRF:
      type: object
      properties:
        id:
          type: string
        initialWords:
          type: array
          items:
            type: string
      required:
      - id
    StartRevereTestResponseDRF:
      type: object
      properties:
        id:
          type: string
        wordLists:
          type: array
          items:
            $ref: '#/components/schemas/RevereTestWordObjectDRF'
      required:
      - id
    ExportRevereResultsRequestObjectDRF:
      type: object
      properties:
        status:
          type: string
    RevereTestResultDTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        moduleId:
          type: string
        moduleConfigId:
          type: string
        moduleResultId:
          type: string
        deploymentId:
          type: string
        version:
          type: integer
        deviceName:
          type: string
        isAggregated:
          type: boolean
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        submitterId:
          type: string
        correlationStartDateTime:
          type: string
          format: date-time
        client:
          $ref: '#/components/schemas/UserAgentDRF'
        server:
          $ref: '#/components/schemas/ServerDRF'
        ragThreshold:
          type: object
          additionalProperties: {}
        flags:
          type: object
          additionalProperties: {}
        eventLogId:
          type: string
        device:
          $ref: '#/components/schemas/DeviceDetailsDRF'
        source:
          type: string
        isAverage:
          type: boolean
        noteId:
          type: string
        feedback:
          $ref: '#/components/schemas/ModuleFeedbackDRF'
        meal:
          type: string
        userNote:
          type: string
        initialWords:
          type: array
          items:
            type: string
        audioResult:
          $ref: '#/components/schemas/S3ObjectDRF'
        wordsResult:
          type: array
          items:
            type: string
        inputLanguageIETFTag:
          type: string
        buildNumber:
          type: string
      required:
      - deploymentId
      - deviceName
      - initialWords
      - moduleId
      - userId
    FeedbackTextDRF:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        order:
          type: integer
      required:
      - id
      - text
    UserAgentDRF:
      type: object
      properties:
        product:
          type: string
        version:
          type: string
        softwareName:
          type: string
        softwareVersion:
          type: string
        bundleId:
          type: string
        build:
          type: string
        hardware:
          type: string
        component:
          type: string
        language:
          type: string
        clientType:
          type: string
      required:
      - product
      - softwareName
      - softwareVersion
      - version
    ModuleFeedbackDRF:
      type: object
      properties:
        criteria:
          type: object
          additionalProperties: {}
        text:
          $ref: '#/components/schemas/FeedbackTextDRF'
        moduleData:
          type: object
          additionalProperties: {}
        language:
          type: string
        notificationData:
          $ref: '#/components/schemas/FeedbackNotificationDataDRF'
    ProcessAudioResultRequestBodyDRF:
      type: object
      properties:
        moduleConfigId:
          type: string
        moduleResultId:
          type: string
        deploymentId:
          type: string
        version:
          type: integer
        deviceName:
          type: string
        isAggregated:
          type: boolean
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        correlationStartDateTime:
          type: string
          format: date-time
        client:
          $ref: '#/components/schemas/UserAgentDRF'
        server:
          $ref: '#/components/schemas/ServerDRF'
        ragThreshold:
          type: object
          additionalProperties: {}
        flags:
          type: object
          additionalProperties: {}
        eventLogId:
          type: string
        device:
          $ref: '#/components/schemas/DeviceDetailsDRF'
        source:
          type: string
        isAverage:
          type: boolean
        noteId:
          type: string
        feedback:
          $ref: '#/components/schemas/ModuleFeedbackDRF'
        meal:
          type: string
        userNote:
          type: string
        audioResult:
          $ref: '#/components/schemas/S3ObjectDRF'
        initialWords:
          type: array
          items:
            type: string
      required:
      - audioResult
      - deploymentId
      - deviceName
      - initialWords
    RevereTestDTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        results:
          type: array
          items:
            $ref: '#/components/schemas/RevereTestResultDTODRF'
        status:
          type: string
        moduleId:
          type: string
        deploymentId:
          type: string
      required:
      - deploymentId
      - moduleId
    DeviceDetailsDRF:
      type: object
      properties:
        uuid:
          type: string
        serialNumber:
          type: string
        modelName:
          type: string
        manufacturer:
          type: string
      required:
      - manufacturer
      - modelName
      - uuid
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
