openapi: 3.2.0
info:
  title: Huma Platform Module Results API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Module Results
paths:
  /api/extensions/v1/public-module/{shortcode}:
    get:
      operationId: api_extensions_v1_public_module_retrieve_[retrieve_module_config]
      description: 'Retrieve Module Config

        Retrieve public module configuration by shortcode.'
      summary: Retrieve Module Config
      parameters:
      - in: path
        name: shortcode
        schema:
          type: string
        required: true
      tags:
      - Module Results
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrievePublicModuleConfigResponseObjectDRF'
          description: ''
    post:
      operationId: api_extensions_v1_public_module_create_[create_module_result]
      description: 'Submit Module Result

        Create a module result for a public module using the provided shortcode.'
      summary: Create Module Result
      parameters:
      - in: path
        name: shortcode
        schema:
          type: string
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePublicModuleItemRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreatePublicModuleItemRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreatePublicModuleItemRequestBodyDRF'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/flagged-modules:
    get:
      operationId: api_extensions_v1_user_flagged_modules_retrieve_[retrieve_unseen_module_results]
      summary: Retrieve Unseen Module Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnseenModulesResponseDRF'
          description: ''
    post:
      operationId: api_extensions_v1_user_flagged_modules_create_[retrieve_unseen_module_results]
      summary: Retrieve Unseen Module Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnseenModulesResponseDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-invite:
    post:
      operationId: api_extensions_v1_user_module_invite_create_[invite_user_to_module]
      description: 'Invite User

        Invite a user to complete a public module.'
      summary: Invite User To Module
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserToModuleRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/InviteUserToModuleRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/InviteUserToModuleRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendPublicModuleResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/{module_id}/{module_result_id}/feedback:
    get:
      operationId: api_extensions_v1_user_module_result_feedback_retrieve_[retrieve_feedback]
      summary: Retrieve Feedback
      parameters:
      - in: path
        name: module_id
        schema:
          type: string
        required: true
      - in: path
        name: module_result_id
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveFeedbackResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/{module_id}/set-meal:
    post:
      operationId: api_extensions_v1_user_module_result_set_meal_create_[set_module_result_meal_type]
      summary: Set Module Result Meal Type
      parameters:
      - in: path
        name: module_id
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetModuleResultMealTypeRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SetModuleResultMealTypeRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SetModuleResultMealTypeRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponseDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/{module_id}/sign:
    post:
      operationId: api_extensions_v1_user_module_result_sign_create_[update_module_result_status_sign]
      summary: Update Module Result Status Sign
      parameters:
      - in: path
        name: module_id
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleResultSignRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ModuleResultSignRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ModuleResultSignRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateModuleResultStatusResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/{module_id}/unsign:
    post:
      operationId: api_extensions_v1_user_module_result_unsign_create_[update_module_result_unsign]
      summary: Update Module Result Unsign
      parameters:
      - in: path
        name: module_id
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModuleResultUnSignRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ModuleResultUnSignRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ModuleResultUnSignRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateModuleResultStatusResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AHQ:
    post:
      operationId: api_extensions_v1_user_module_result_AHQ_create_[create_AHQ]
      summary: Create Ahq
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AHQ/search:
    post:
      operationId: api_extensions_v1_user_module_result_AHQ_search_create_[retrieve_AHQ_results]
      summary: Retrieve Ahq Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AHQResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AZFurtherPregnancyKeyActionTrigger/search:
    post:
      operationId: api_extensions_v1_user_module_result_AZFurtherPregnancyKeyActionTrigger_search_create_[retrieve_AZFurtherPregnancyKeyActionTrigger_results]
      summary: Retrieve Azfurtherpregnancykeyactiontrigger Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AZFurtherPregnancyKeyActionTriggerResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AZGroupKeyActionTrigger/search:
    post:
      operationId: api_extensions_v1_user_module_result_AZGroupKeyActionTrigger_search_create_[retrieve_AZGroupKeyActionTrigger_results]
      summary: Retrieve Azgroupkeyactiontrigger Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AZGroupKeyActionTriggerResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AZScreeningQuestionnaire/search:
    post:
      operationId: api_extensions_v1_user_module_result_AZScreeningQuestionnaire_search_create_[retrieve_AZScreeningQuestionnaire_results]
      summary: Retrieve Azscreeningquestionnaire Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AZScreeningQuestionnaireResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AdditionalQoL/search:
    post:
      operationId: api_extensions_v1_user_module_result_AdditionalQoL_search_create_[retrieve_AdditionalQoL_results]
      summary: Retrieve Additionalqol Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdditionalQoLResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AirQuality:
    post:
      operationId: api_extensions_v1_user_module_result_AirQuality_create_[create_AirQuality]
      summary: Create Airquality
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAirQualityIndexDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateAirQualityIndexDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateAirQualityIndexDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AirQuality/search:
    post:
      operationId: api_extensions_v1_user_module_result_AirQuality_search_create_[retrieve_AirQuality_results]
      summary: Retrieve Airquality Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AirQualityResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/ArmFatigue:
    post:
      operationId: api_extensions_v1_user_module_result_ArmFatigue_create_[create_ArmFatigue]
      summary: Create Armfatigue
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateArmFatigueDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateArmFatigueDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateArmFatigueDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '202':
          description: No response body
  /api/extensions/v1/user/{user_id}/module-result/ArmFatigue/search:
    post:
      operationId: api_extensions_v1_user_module_result_ArmFatigue_search_create_[retrieve_ArmFatigue_results]
      summary: Retrieve Armfatigue Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmFatigueResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AsthmaControlTest:
    post:
      operationId: api_extensions_v1_user_module_result_AsthmaControlTest_create_[create_AsthmaControlTest]
      summary: Create Asthmacontroltest
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AsthmaControlTest/search:
    post:
      operationId: api_extensions_v1_user_module_result_AsthmaControlTest_search_create_[retrieve_AsthmaControlTest_results]
      summary: Retrieve Asthmacontroltest Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsthmaControlTestResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/AwarenessTraining/search:
    post:
      operationId: api_extensions_v1_user_module_result_AwarenessTraining_search_create_[retrieve_AwarenessTraining_results]
      summary: Retrieve Awarenesstraining Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AwarenessTrainingResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BMI:
    post:
      operationId: api_extensions_v1_user_module_result_BMI_create_[create_BMI]
      summary: Create Bmi
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWeightDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateWeightDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateWeightDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BMI/search:
    post:
      operationId: api_extensions_v1_user_module_result_BMI_search_create_[retrieve_BMI_results]
      summary: Retrieve Bmi Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BMIResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BackgroundInformation/search:
    post:
      operationId: api_extensions_v1_user_module_result_BackgroundInformation_search_create_[retrieve_BackgroundInformation_results]
      summary: Retrieve Backgroundinformation Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundInformationResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BloodGlucose:
    post:
      operationId: api_extensions_v1_user_module_result_BloodGlucose_create_[create_BloodGlucose]
      summary: Create Bloodglucose
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBloodGlucoseDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBloodGlucoseDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateBloodGlucoseDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BloodGlucose/search:
    post:
      operationId: api_extensions_v1_user_module_result_BloodGlucose_search_create_[retrieve_BloodGlucose_results]
      summary: Retrieve Bloodglucose Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BloodGlucoseResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BloodPressure:
    post:
      operationId: api_extensions_v1_user_module_result_BloodPressure_create_[create_BloodPressure]
      summary: Create Bloodpressure
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBloodPressureDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBloodPressureDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateBloodPressureDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BloodPressure/search:
    post:
      operationId: api_extensions_v1_user_module_result_BloodPressure_search_create_[retrieve_BloodPressure_results]
      summary: Retrieve Bloodpressure Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BloodPressureResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BodyMeasurement:
    post:
      operationId: api_extensions_v1_user_module_result_BodyMeasurement_create_[create_BodyMeasurement]
      summary: Create Bodymeasurement
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBodyMeasurementDRF_Or_CreateQuestionnaireDRFItem'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBodyMeasurementDRF_Or_CreateQuestionnaireDRFItem'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBodyMeasurementDRF_Or_CreateQuestionnaireDRFItem'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BodyMeasurement/search:
    post:
      operationId: api_extensions_v1_user_module_result_BodyMeasurement_search_create_[retrieve_BodyMeasurement_results]
      summary: Retrieve Bodymeasurement Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyMeasurementResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BodyPower:
    post:
      operationId: api_extensions_v1_user_module_result_BodyPower_create_[create_BodyPower]
      summary: Create Bodypower
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBodyPowerDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBodyPowerDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateBodyPowerDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BodyPower/search:
    post:
      operationId: api_extensions_v1_user_module_result_BodyPower_search_create_[retrieve_BodyPower_results]
      summary: Retrieve Bodypower Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyPowerResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BodyStress:
    post:
      operationId: api_extensions_v1_user_module_result_BodyStress_create_[create_BodyStress]
      summary: Create Bodystress
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBodyStressDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBodyStressDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateBodyStressDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BodyStress/search:
    post:
      operationId: api_extensions_v1_user_module_result_BodyStress_search_create_[retrieve_BodyStress_results]
      summary: Retrieve Bodystress Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BodyStressResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BreastFeedingStatus/search:
    post:
      operationId: api_extensions_v1_user_module_result_BreastFeedingStatus_search_create_[retrieve_BreastFeedingStatus_results]
      summary: Retrieve Breastfeedingstatus Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreastFeedingStatusResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/BreastFeedingUpdate/search:
    post:
      operationId: api_extensions_v1_user_module_result_BreastFeedingUpdate_search_create_[retrieve_BreastFeedingUpdate_results]
      summary: Retrieve Breastfeedingupdate Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreastFeedingUpdateResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Breathing/search:
    post:
      operationId: api_extensions_v1_user_module_result_Breathing_search_create_[retrieve_Breathing_results]
      summary: Retrieve Breathing Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreathingResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Breathlessness:
    post:
      operationId: api_extensions_v1_user_module_result_Breathlessness_create_[create_Breathlessness]
      summary: Create Breathlessness
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Breathlessness/search:
    post:
      operationId: api_extensions_v1_user_module_result_Breathlessness_search_create_[retrieve_Breathlessness_results]
      summary: Retrieve Breathlessness Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BreathlessnessResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/CAT:
    post:
      operationId: api_extensions_v1_user_module_result_CAT_create_[create_CAT]
      summary: Create Cat
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/CAT/search:
    post:
      operationId: api_extensions_v1_user_module_result_CAT_search_create_[retrieve_CAT_results]
      summary: Retrieve Cat Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CATResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/CVDRiskScore:
    post:
      operationId: api_extensions_v1_user_module_result_CVDRiskScore_create_[create_CVDRiskScore]
      summary: Create Cvdriskscore
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBodyMeasurementDRF_Or_CreateHeartRateDRF_Or_CreateQuestionnaireDRFItem'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBodyMeasurementDRF_Or_CreateHeartRateDRF_Or_CreateQuestionnaireDRFItem'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBodyMeasurementDRF_Or_CreateHeartRateDRF_Or_CreateQuestionnaireDRFItem'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/CVDRiskScore/search:
    post:
      operationId: api_extensions_v1_user_module_result_CVDRiskScore_search_create_[retrieve_CVDRiskScore_results]
      summary: Retrieve Cvdriskscore Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CVDRiskScoreResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Covid19DailyCheckIn/search:
    post:
      operationId: api_extensions_v1_user_module_result_Covid19DailyCheckIn_search_create_[retrieve_Covid19DailyCheckIn_results]
      summary: Retrieve Covid19Dailycheckin Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Covid19DailyCheckInResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Covid19RiskScore/search:
    post:
      operationId: api_extensions_v1_user_module_result_Covid19RiskScore_search_create_[retrieve_Covid19RiskScore_results]
      summary: Retrieve Covid19Riskscore Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Covid19RiskScoreResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/DailyCheckIn:
    post:
      operationId: api_extensions_v1_user_module_result_DailyCheckIn_create_[create_DailyCheckIn]
      summary: Create Dailycheckin
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/DailyCheckIn/search:
    post:
      operationId: api_extensions_v1_user_module_result_DailyCheckIn_search_create_[retrieve_DailyCheckIn_results]
      summary: Retrieve Dailycheckin Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailyCheckInResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/DashScore:
    post:
      operationId: api_extensions_v1_user_module_result_DashScore_create_[create_DashScore]
      summary: Create Dashscore
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/DashScore/search:
    post:
      operationId: api_extensions_v1_user_module_result_DashScore_search_create_[retrieve_DashScore_results]
      summary: Retrieve Dashscore Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashScoreResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/DiabetesDistressScore:
    post:
      operationId: api_extensions_v1_user_module_result_DiabetesDistressScore_create_[create_DiabetesDistressScore]
      summary: Create Diabetesdistressscore
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/DiabetesDistressScore/search:
    post:
      operationId: api_extensions_v1_user_module_result_DiabetesDistressScore_search_create_[retrieve_DiabetesDistressScore_results]
      summary: Retrieve Diabetesdistressscore Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiabetesDistressScoreResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/ECG:
    post:
      operationId: api_extensions_v1_user_module_result_ECG_create_[create_ECG]
      summary: Create Ecg
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateECGDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateECGDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateECGDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/ECG/search:
    post:
      operationId: api_extensions_v1_user_module_result_ECG_search_create_[retrieve_ECG_results]
      summary: Retrieve Ecg Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ECGResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/ECGAliveCor/search:
    post:
      operationId: api_extensions_v1_user_module_result_ECGAliveCor_search_create_[retrieve_ECGAliveCor_results]
      summary: Retrieve Ecgalivecor Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ECGAliveCorResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/ECGHealthKit/search:
    post:
      operationId: api_extensions_v1_user_module_result_ECGHealthKit_search_create_[retrieve_ECGHealthKit_results]
      summary: Retrieve Ecghealthkit Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ECGHealthKitResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/EQ5D5L:
    post:
      operationId: api_extensions_v1_user_module_result_EQ5D5L_create_[create_EQ5D5L]
      summary: Create Eq5D5L
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/EQ5D5L/search:
    post:
      operationId: api_extensions_v1_user_module_result_EQ5D5L_search_create_[retrieve_EQ5D5L_results]
      summary: Retrieve Eq5D5L Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EQ5D5LResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/FJSHip:
    post:
      operationId: api_extensions_v1_user_module_result_FJSHip_create_[create_FJSHip]
      summary: Create Fjship
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/FJSHip/search:
    post:
      operationId: api_extensions_v1_user_module_result_FJSHip_search_create_[retrieve_FJSHip_results]
      summary: Retrieve Fjship Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FJSHipResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/FJSKnee:
    post:
      operationId: api_extensions_v1_user_module_result_FJSKnee_create_[create_FJSKnee]
      summary: Create Fjsknee
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/FJSKnee/search:
    post:
      operationId: api_extensions_v1_user_module_result_FJSKnee_search_create_[retrieve_FJSKnee_results]
      summary: Retrieve Fjsknee Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FJSKneeResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/FeverAndPainDrugs/search:
    post:
      operationId: api_extensions_v1_user_module_result_FeverAndPainDrugs_search_create_[retrieve_FeverAndPainDrugs_results]
      summary: Retrieve Feverandpaindrugs Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeverAndPainDrugsResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/GeneralAnxietyDisorder:
    post:
      operationId: api_extensions_v1_user_module_result_GeneralAnxietyDisorder_create_[create_GeneralAnxietyDisorder]
      summary: Create Generalanxietydisorder
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/GeneralAnxietyDisorder/search:
    post:
      operationId: api_extensions_v1_user_module_result_GeneralAnxietyDisorder_search_create_[retrieve_GeneralAnxietyDisorder_results]
      summary: Retrieve Generalanxietydisorder Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralAnxietyDisorderResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Geolocation:
    post:
      operationId: api_extensions_v1_user_module_result_Geolocation_create_[create_Geolocation]
      summary: Create Geolocation
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGeolocationDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateGeolocationDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateGeolocationDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Geolocation/search:
    post:
      operationId: api_extensions_v1_user_module_result_Geolocation_search_create_[retrieve_Geolocation_results]
      summary: Retrieve Geolocation Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeolocationResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HealthScore/search:
    post:
      operationId: api_extensions_v1_user_module_result_HealthScore_search_create_[retrieve_HealthScore_results]
      summary: Retrieve Healthscore Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthScoreResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HealthStatus/search:
    post:
      operationId: api_extensions_v1_user_module_result_HealthStatus_search_create_[retrieve_HealthStatus_results]
      summary: Retrieve Healthstatus Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatusResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HeartRate:
    post:
      operationId: api_extensions_v1_user_module_result_HeartRate_create_[create_HeartRate]
      summary: Create Heartrate
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/One_Of__CreateHeartRateDRFSerializer__CreateFitbitHRVDRFSerializer__CreateHRVDRF'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/One_Of__CreateHeartRateDRFSerializer__CreateFitbitHRVDRFSerializer__CreateHRVDRF'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/One_Of__CreateHeartRateDRFSerializer__CreateFitbitHRVDRFSerializer__CreateHRVDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HeartRate/search:
    post:
      operationId: api_extensions_v1_user_module_result_HeartRate_search_create_[retrieve_HeartRate_results]
      summary: Retrieve Heartrate Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeartRateResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Height/search:
    post:
      operationId: api_extensions_v1_user_module_result_Height_search_create_[retrieve_Height_results]
      summary: Retrieve Height Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeightResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HeightZScore/search:
    post:
      operationId: api_extensions_v1_user_module_result_HeightZScore_search_create_[retrieve_HeightZScore_results]
      summary: Retrieve Heightzscore Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HeightZScoreResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HemophiliaJournal:
    post:
      operationId: api_extensions_v1_user_module_result_HemophiliaJournal_create_[create_HemophiliaJournal]
      summary: Create Hemophiliajournal
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHemophiliaJournalDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateHemophiliaJournalDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateHemophiliaJournalDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HemophiliaJournal/search:
    post:
      operationId: api_extensions_v1_user_module_result_HemophiliaJournal_search_create_[retrieve_HemophiliaJournal_results]
      summary: Retrieve Hemophiliajournal Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HemophiliaJournalResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HighFrequencyHeartRate:
    post:
      operationId: api_extensions_v1_user_module_result_HighFrequencyHeartRate_create_[create_HighFrequencyHeartRate]
      summary: Create Highfrequencyheartrate
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHighFrequencyHeartRateDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateHighFrequencyHeartRateDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateHighFrequencyHeartRateDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HighFrequencyHeartRate/search:
    post:
      operationId: api_extensions_v1_user_module_result_HighFrequencyHeartRate_search_create_[retrieve_HighFrequencyHeartRate_results]
      summary: Retrieve Highfrequencyheartrate Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighFrequencyHeartRateResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/HighFrequencyStep/search:
    post:
      operationId: api_extensions_v1_user_module_result_HighFrequencyStep_search_create_[retrieve_HighFrequencyStep_results]
      summary: Retrieve Highfrequencystep Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighFrequencyStepResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Hypertension:
    post:
      operationId: api_extensions_v1_user_module_result_Hypertension_create_[create_Hypertension]
      summary: Create Hypertension
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBloodPressureDRF_Or_CreateSymptomDRFItem'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBloodPressureDRF_Or_CreateSymptomDRFItem'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnyOfCreateBloodPressureDRF_Or_CreateSymptomDRFItem'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Hypertension/search:
    post:
      operationId: api_extensions_v1_user_module_result_Hypertension_search_create_[retrieve_Hypertension_results]
      summary: Retrieve Hypertension Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HypertensionResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/IncidentReport:
    post:
      operationId: api_extensions_v1_user_module_result_IncidentReport_create_[create_IncidentReport]
      summary: Create Incidentreport
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/IncidentReport/search:
    post:
      operationId: api_extensions_v1_user_module_result_IncidentReport_search_create_[retrieve_IncidentReport_results]
      summary: Retrieve Incidentreport Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentReportResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/InfantFollowUp/search:
    post:
      operationId: api_extensions_v1_user_module_result_InfantFollowUp_search_create_[retrieve_InfantFollowUp_results]
      summary: Retrieve Infantfollowup Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfantFollowUpResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Journal:
    post:
      operationId: api_extensions_v1_user_module_result_Journal_create_[create_Journal]
      summary: Create Journal
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJournalDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateJournalDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateJournalDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/Journal/search:
    post:
      operationId: api_extensions_v1_user_module_result_Journal_search_create_[retrieve_Journal_results]
      summary: Retrieve Journal Results
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveModuleResultsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalResultsDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/module-result/KCCQ:
    post:
      operationId: api_extensions_v1_user_module_result_KCCQ_create_[create_KCCQ]
      summary: Create Kccq
      parameters:
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Module Results
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateQuestionnaireDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModuleResultResponseObjectDRF'
          description: ''
[...]
