openapi: 3.2.0
info:
  title: Huma Platform Organization API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Organization
paths:
  /api/extensions/v1/organization:
    post:
      operationId: api_extensions_v1_organization_create_[create_organization]
      summary: Create Organization
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrganizationDTORequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateOrganizationDTORequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateOrganizationDTORequestBodyDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}:
    get:
      operationId: api_extensions_v1_organization_retrieve_[retrieve_organization]
      summary: Retrieve Organization
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationWithExtrasDRF'
          description: ''
    put:
      operationId: api_extensions_v1_organization_update_[update_organization]
      summary: Update Organization
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationDTORequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationDTORequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateOrganizationDTORequestBodyDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
    delete:
      operationId: api_extensions_v1_organization_destroy_[delete_organization]
      summary: Delete Organization
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/extensions/v1/organization/{organization_id}/deployment/{deployment_id}:
    delete:
      operationId: api_extensions_v1_organization_deployment_destroy_[unlink_deployment]
      summary: Unlink Deployment
      parameters:
      - in: path
        name: deployment_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/extensions/v1/organization/{organization_id}/deployment/{deployment_id}/add-econsent/{econsent_id}:
    put:
      operationId: api_extensions_v1_organization_deployment_add_econsent_update_[add_econsent_to_deployment]
      summary: Add Econsent To Deployment
      parameters:
      - in: path
        name: deployment_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: econsent_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}/econsent:
    post:
      operationId: api_extensions_v1_organization_econsent_create_[create_econsent]
      summary: Create Econsent
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEConsentRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateEConsentRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateEConsentRequestBodyDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEConsentResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}/econsent-forms:
    post:
      operationId: api_extensions_v1_organization_econsent_forms_create_[retrieve_econsent_forms]
      summary: Retrieve Econsent Forms
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginatedRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaginatedRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PaginatedRequestBodyDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEConsentsResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}/econsent-forms/{econsent_id}:
    post:
      operationId: api_extensions_v1_organization_econsent_forms_create_[retrieve_econsents_forms_by_id]
      summary: Retrieve Econsents Forms By Id
      parameters:
      - in: path
        name: econsent_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaginatedRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PaginatedRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PaginatedRequestBodyDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveEConsentsResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}/econsent/{config_id}:
    put:
      operationId: api_extensions_v1_organization_econsent_update_[apply_econsent_action]
      summary: Apply Econsent Action
      parameters:
      - in: path
        name: config_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyEConsentActionRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ApplyEConsentActionRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ApplyEConsentActionRequestBodyDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEConsentResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}/econsent/{config_id}/state/{state}:
    put:
      operationId: api_extensions_v1_organization_econsent_state_update_[edit_econsent_state]
      summary: Edit Econsent State
      parameters:
      - in: path
        name: config_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: state
        schema:
          type: string
        required: true
      tags:
      - Organization
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateEConsentResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}/link-deployment:
    post:
      operationId: api_extensions_v1_organization_link_deployment_create_[link_deployment]
      description: '@deprecated'
      summary: Link Deployment
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      deprecated: true
      responses: {}
  /api/extensions/v1/organization/{organization_id}/link-deployments:
    post:
      operationId: api_extensions_v1_organization_link_deployments_create_[link_deployments]
      summary: Link Deployments
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkUnlinkDeploymentsRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LinkUnlinkDeploymentsRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LinkUnlinkDeploymentsRequestBodyDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}/role:
    put:
      operationId: api_extensions_v1_organization_role_update_[create_or_update_organization_roles]
      summary: Create Or Update Organization Roles
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationRoleUpdateRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/OrganizationRoleUpdateRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OrganizationRoleUpdateRequestBodyDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/{organization_id}/unlink-deployments:
    post:
      operationId: api_extensions_v1_organization_unlink_deployments_create_[unlink_deployments]
      summary: Unlink Deployments
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkUnlinkDeploymentsRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LinkUnlinkDeploymentsRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/LinkUnlinkDeploymentsRequestBodyDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/clone:
    post:
      operationId: api_extensions_v1_organization_clone_create_[clone_organization]
      summary: Clone Organization
      parameters:
      - in: header
        name: organizationId
        schema:
          type: string
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneOrganizationRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CloneOrganizationRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CloneOrganizationRequestBodyDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloneOrganizationResponseObjectDRF'
          description: ''
  /api/extensions/v1/organization/search:
    post:
      operationId: api_extensions_v1_organization_search_create_[retrieve_organizations]
      summary: Retrieve Organizations
      tags:
      - Organization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveOrganizationsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveOrganizationsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveOrganizationsRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveOrganizationsResponseObjectDRF'
          description: ''
components:
  schemas:
    EConsentSectionDRF:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        details:
          type: string
        reviewDetails:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/ConsentSectionOptionsDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        contentType:
          type: string
        thumbnailUrl:
          type: string
        thumbnailLocation:
          $ref: '#/components/schemas/S3ObjectDRF'
        videoUrl:
          type: string
        videoLocation:
          $ref: '#/components/schemas/S3ObjectDRF'
      required:
      - contentType
      - type
    AdditionalConsentQuestionDRF:
      type: object
      properties:
        type:
          type: string
        enabled:
          type: string
        format:
          type: string
        text:
          type: string
        description:
          type: string
        order:
          type: integer
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - enabled
      - format
      - text
      - type
    OffBoardingReasonsDRF:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/ReasonDRF'
        otherReason:
          type: boolean
    OrganizationDTODRF:
      type: object
      properties:
        termAndConditionUrl:
          type: string
        privacyPolicyUrl:
          type: string
        eulaUrl:
          type: string
        privacyPolicyObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        termAndConditionObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        eulaObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        authorisedRep:
          $ref: '#/components/schemas/AuthorisedRepDRF'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleDTODRF'
        id:
          type: string
        name:
          type: string
        status:
          type: string
        deploymentIds:
          type: array
          items:
            type: string
        enrollmentTarget:
          type: integer
        studyCompletionTarget:
          type: integer
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        viewType:
          type: string
        targetConsented:
          type: integer
        dashboardId:
          type: string
        features:
          $ref: '#/components/schemas/FeaturesDRF'
        intercom:
          $ref: '#/components/schemas/IntercomSettingsDRF'
        security:
          type: object
          additionalProperties: {}
        pluginConfigContainerId:
          type: string
        sso:
          $ref: '#/components/schemas/SsoDRF'
    PaginatedRequestBodyDRF:
      type: object
      properties:
        skip:
          type: integer
        limit:
          type: integer
    ConsentSectionOptionsDRF:
      type: object
      properties:
        type:
          type: integer
        text:
          type: string
        order:
          type: integer
        abortOnChoose:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - text
      - type
    MessagingDRF:
      type: object
      properties:
        enabled:
          type: boolean
        twoWayMessaging:
          type: boolean
        messages:
          type: array
          items:
            type: string
        allowCustomMessage:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    ReasonDRF:
      type: object
      properties:
        order:
          type: integer
        displayName:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - displayName
      - order
    EmailConfigDRF:
      type: object
      properties:
        enabled:
          type: boolean
        templates:
          type: array
          items:
            $ref: '#/components/schemas/EmailTemplateDRF'
    RoleDTODRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        permissions:
          type: array
          items:
            type: string
        userType:
          type: string
        isThirdParty:
          type: boolean
    FeaturesDRF:
      type: object
      properties:
        appMenu:
          type: array
          items:
            type: string
        appointment:
          type: boolean
        carePlanDailyAdherence:
          type: boolean
        offBoarding:
          type: boolean
        personalDocuments:
          type: boolean
        patientPersonalization:
          $ref: '#/components/schemas/PatientPersonalizationDRF'
        proxy:
          type: boolean
        surgeryDateRule:
          $ref: '#/components/schemas/SurgeryDateRuleDRF'
        labels:
          type: boolean
        portal:
          type: object
          additionalProperties: {}
        offBoardingReasons:
          $ref: '#/components/schemas/OffBoardingReasonsDRF'
        moveUserReasons:
          $ref: '#/components/schemas/MoveUserReasonsDRF'
        messaging:
          $ref: '#/components/schemas/MessagingDRF'
        hideAppSupport:
          type: boolean
        summaryReport:
          $ref: '#/components/schemas/SummaryReportDRF'
        linkInvites:
          type: boolean
        classB:
          type: boolean
        deviceIntegration:
          $ref: '#/components/schemas/DeviceIntegrationDRF'
        customAppConfig:
          type: object
          additionalProperties: {}
        improvedOnboarding:
          type: boolean
        timeline:
          type: boolean
        profilePicture:
          type: boolean
        unitsIsHidden:
          type: boolean
        dataDownloadIsHidden:
          type: boolean
        labelIsHidden:
          type: boolean
        ifuIsHidden:
          type: boolean
        videoAdapter:
          type: string
        mealBasedModules:
          type: array
          items:
            type: string
        email:
          $ref: '#/components/schemas/EmailConfigDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    EConsentFormDRF:
      type: object
      properties:
        id:
          type: string
        econsentId:
          type: string
        title:
          type: string
        lastUpdated:
          type: string
          format: date-time
        state:
          type: string
        versionString:
          type: string
      required:
      - econsentId
      - id
      - lastUpdated
      - state
      - title
      - versionString
    SsoDRF:
      type: object
      properties:
        name:
          type: string
        org:
          type: string
        info:
          $ref: '#/components/schemas/SsoInfoDRF'
    SsoInfoDRF:
      type: object
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
        discoveryUrl:
          type: string
        redirectUri:
          type: string
        xmlsecBinary:
          type: string
        entityid:
          type: string
        service:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
        keyFile:
          type: string
        certFile:
          type: string
        encryptionKeypairs:
          type: array
          items:
            type: object
            additionalProperties: {}
        organization:
          type: object
          additionalProperties: {}
        contactPerson:
          type: object
          additionalProperties: {}
        certificateCrt:
          type: string
        samlMetadataXml:
          type: string
        privateKey:
          type: string
      required:
      - clientId
      - clientSecret
      - discoveryUrl
      - redirectUri
    EmailTemplateDRF:
      type: object
      properties:
        name:
          type: string
        subject:
          type: string
        template:
          type: string
      required:
      - name
      - template
    PatientPersonalizationDRF:
      type: object
      properties:
        rag:
          type: boolean
        goal:
          type: boolean
    SurgeryDateRuleDRF:
      type: object
      properties:
        maxPastRange:
          type: string
        maxFutureRange:
          type: string
    CreateEConsentResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
        econsentId:
          type: string
    ListIdResponseObjectDRF:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
    DeploymentInfoDRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        code:
          type: string
        draftId:
          type: string
        status:
          type: string
      required:
      - id
      - name
    ConsentReviewDRF:
      type: object
      properties:
        title:
          type: string
        details:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - details
      - title
    ResultIdResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
    OrganizationRoleUpdateRequestBodyDRF:
      type: object
      properties:
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleDTODRF'
      required:
      - roles
    MoveUserReasonsDRF:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/ReasonDRF'
        otherReason:
          type: boolean
    SortFieldDRF:
      type: object
      properties:
        field:
          type: string
        direction:
          type: string
      required:
      - direction
      - field
    AuthorisedRepDRF:
      type: object
      properties:
        iconObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        addressTitle:
          type: string
        address:
          type: string
        showBuildNumber:
          type: boolean
      required:
      - address
      - addressTitle
      - iconObject
      - showBuildNumber
    RetrieveEConsentsResponseObjectDRF:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        skip:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/EConsentFormDRF'
    CreateEConsentRequestBodyDRF:
      type: object
      properties:
        enabled:
          type: string
        review:
          $ref: '#/components/schemas/ConsentReviewDRF'
        revision:
          type: integer
        additionalConsentQuestions:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalConsentQuestionDRF'
        signature:
          $ref: '#/components/schemas/ConsentSignatureDRF'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/EConsentSectionDRF'
        instituteName:
          type: string
        instituteFullName:
          type: string
        instituteTextDetails:
          type: string
        admissionText:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        title:
          type: string
        overviewText:
          type: string
        contactText:
          type: string
        state:
          type: string
        reason:
          type: string
        deploymentIds:
          type: array
          items:
            type: string
      required:
      - contactText
      - deploymentIds
      - enabled
      - overviewText
      - sections
      - title
    LinkUnlinkDeploymentsRequestBodyDRF:
      type: object
      properties:
        deploymentIds:
          type: array
          items:
            type: string
      required:
      - deploymentIds
    S3ObjectDRF:
      type: object
      properties:
        bucket:
          type: string
        key:
          type: string
        region:
          type: string
      required:
      - bucket
      - key
    UpdateOrganizationDTORequestBodyDRF:
      type: object
      properties:
        termAndConditionUrl:
          type: string
        privacyPolicyUrl:
          type: string
        eulaUrl:
          type: string
        privacyPolicyObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        termAndConditionObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        eulaObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        authorisedRep:
          $ref: '#/components/schemas/AuthorisedRepDRF'
        id:
          type: string
        name:
          type: string
        status:
          type: string
        enrollmentTarget:
          type: integer
        studyCompletionTarget:
          type: integer
        viewType:
          type: string
        targetConsented:
          type: integer
        dashboardId:
          type: string
        features:
          $ref: '#/components/schemas/FeaturesDRF'
        intercom:
          $ref: '#/components/schemas/IntercomSettingsDRF'
        security:
          type: object
          additionalProperties: {}
        pluginConfigContainerId:
          type: string
        sso:
          $ref: '#/components/schemas/SsoDRF'
    SummaryReportDRF:
      type: object
      properties:
        enabled:
          type: boolean
    RetrieveOrganizationsRequestObjectDRF:
      type: object
      properties:
        skip:
          type: integer
        limit:
          type: integer
        sort:
          type: array
          items:
            $ref: '#/components/schemas/SortFieldDRF'
        nameContains:
          type: string
        searchCriteria:
          type: string
        status:
          type: array
          items:
            type: string
      required:
      - limit
      - skip
    RetrieveOrganizationsResponseObjectDRF:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        skip:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationDTODRF'
    CloneOrganizationRequestBodyDRF:
      type: object
      properties:
        name:
          type: string
        referenceId:
          type: string
        deploymentIds:
          type: array
          items:
            type: string
      required:
      - deploymentIds
      - name
      - referenceId
    DeviceIntegrationDRF:
      type: object
      properties:
        enabled:
          type: boolean
    ApplyEConsentActionRequestBodyDRF:
      type: object
      properties:
        enabled:
          type: string
        review:
          $ref: '#/components/schemas/ConsentReviewDRF'
        revision:
          type: integer
        additionalConsentQuestions:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalConsentQuestionDRF'
        signature:
          $ref: '#/components/schemas/ConsentSignatureDRF'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/EConsentSectionDRF'
        instituteName:
          type: string
        instituteFullName:
          type: string
        instituteTextDetails:
          type: string
        admissionText:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        title:
          type: string
        overviewText:
          type: string
        contactText:
          type: string
        state:
          type: string
        reason:
          type: string
        deploymentIds:
          type: array
          items:
            type: string
        action:
          type: string
      required:
      - action
      - contactText
      - deploymentIds
      - enabled
      - overviewText
      - sections
      - title
    ConsentSignatureDRF:
      type: object
      properties:
        signatureTitle:
          type: string
        signatureDetails:
          type: string
        nameTitle:
          type: string
        nameDetails:
          type: string
        hasMiddleName:
          type: boolean
        showFirstLastName:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - nameDetails
      - nameTitle
      - signatureDetails
      - signatureTitle
    CreateOrganizationDTORequestBodyDRF:
      type: object
      properties:
        termAndConditionUrl:
          type: string
        privacyPolicyUrl:
          type: string
        eulaUrl:
          type: string
        privacyPolicyObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        termAndConditionObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        eulaObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        authorisedRep:
          $ref: '#/components/schemas/AuthorisedRepDRF'
        name:
          type: string
        status:
          type: string
        enrollmentTarget:
          type: integer
        studyCompletionTarget:
          type: integer
        viewType:
          type: string
        dashboardId:
          type: string
        features:
          $ref: '#/components/schemas/FeaturesDRF'
        intercom:
          $ref: '#/components/schemas/IntercomSettingsDRF'
        security:
          type: object
          additionalProperties: {}
        pluginConfigContainerId:
          type: string
        sso:
          $ref: '#/components/schemas/SsoDRF'
      required:
      - name
    IntercomSettingsDRF:
      type: object
      properties:
        appId:
          type: string
        webSecretKey:
          type: string
        androidSecretKey:
          type: string
        iosSecretKey:
          type: string
    OrganizationWithExtrasDRF:
      type: object
      properties:
        termAndConditionUrl:
          type: string
        privacyPolicyUrl:
          type: string
        eulaUrl:
          type: string
        privacyPolicyObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        termAndConditionObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        eulaObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        authorisedRep:
          $ref: '#/components/schemas/AuthorisedRepDRF'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleDTODRF'
        id:
          type: string
        name:
          type: string
        status:
          type: string
        deploymentIds:
          type: array
          items:
            type: string
        enrollmentTarget:
          type: integer
        studyCompletionTarget:
          type: integer
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        viewType:
          type: string
        targetConsented:
          type: integer
        dashboardId:
          type: string
        features:
          $ref: '#/components/schemas/FeaturesDRF'
        intercom:
          $ref: '#/components/schemas/IntercomSettingsDRF'
        security:
          type: object
          additionalProperties: {}
        pluginConfigContainerId:
          type: string
        sso:
          $ref: '#/components/schemas/SsoDRF'
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentInfoDRF'
        plugins:
          type: object
          additionalProperties: {}
    CloneOrganizationResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
        deploymentIds:
          type: array
          items:
            type: string
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
