openapi: 3.2.0
info:
  title: Huma Platform Inference Route API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Inference Route
paths:
  /api/extensions/v1/user/{user_id}/arm_fatigue/quality_check_position:
    post:
      operationId: api_extensions_v1_user_arm_fatigue_quality_check_position_create_[user_positioning_quality_check]
      summary: User Positioning Quality Check
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Inference Route
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QualityCheckRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/QualityCheckRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/QualityCheckRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityCheckErrorResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/ptosis/qc_position:
    post:
      operationId: api_extensions_v1_user_ptosis_qc_position_create_[head_position_quality_check]
      summary: Head Position Quality Check
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Inference Route
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PtosisQualityCheckRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PtosisQualityCheckRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PtosisQualityCheckRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QualityCheckErrorResponseObjectDRF'
          description: ''
components:
  schemas:
    S3ObjectDRF:
      type: object
      properties:
        bucket:
          type: string
        key:
          type: string
        region:
          type: string
      required:
      - bucket
      - key
    PtosisQualityCheckRequestObjectDRF:
      type: object
      properties:
        image:
          $ref: '#/components/schemas/S3ObjectDRF'
        language:
          type: string
        userId:
          type: string
      required:
      - image
    QualityCheckRequestObjectDRF:
      type: object
      properties:
        arm:
          type: string
        image:
          $ref: '#/components/schemas/S3ObjectDRF'
        language:
          type: string
        userId:
          type: string
      required:
      - arm
      - image
    QualityCheckErrorResponseObjectDRF:
      type: object
      properties:
        error:
          type: string
      required:
      - error
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
