openapi: 3.2.0
info:
  title: Huma Platform Deployment Clone API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Deployment Clone
paths:
  /api/extensions/v1/deployment/clone:
    post:
      operationId: api_extensions_v1_deployment_clone_create_[override_clone_deployment]
      summary: Override Clone Deployment
      tags:
      - Deployment Clone
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloneDeploymentRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CloneDeploymentRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CloneDeploymentRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
components:
  schemas:
    ResultIdResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
    CloneDeploymentRequestObjectDRF:
      type: object
      properties:
        name:
          type: string
        referenceId:
          type: string
        organizationId:
          type: string
        isSaMD:
          type: boolean
      required:
      - name
      - organizationId
      - referenceId
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
