openapi: 3.2.0
info:
  title: Huma Platform Health Score API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Health Score
paths:
  /api/extensions/v1/user/{user_id}/health-score:
    post:
      operationId: api_extensions_v1_user_health_score_create_[retrieve_health_score]
      summary: Retrieve Health Score
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Health Score
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveHealthScoreRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveHealthScoreRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveHealthScoreRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveHealthScoreResponseObjectDRF'
          description: ''
components:
  schemas:
    RetrieveHealthScoreResponseObjectDRF:
      type: object
      properties:
        metrics:
          type: array
          items:
            $ref: '#/components/schemas/HealthMetricDRF'
        errors:
          type: array
          items:
            type: string
    SleepScoreDRF:
      type: object
      properties:
        total:
          $ref: '#/components/schemas/ScoreDRF'
        duration:
          $ref: '#/components/schemas/ScoreDRF'
        remSleep:
          $ref: '#/components/schemas/ScoreDRF'
        deepSleep:
          $ref: '#/components/schemas/ScoreDRF'
        lightSleep:
          $ref: '#/components/schemas/ScoreDRF'
        uwake:
          $ref: '#/components/schemas/ScoreDRF'
        heartRateDip:
          $ref: '#/components/schemas/ScoreDRF'
        submittedTotal:
          $ref: '#/components/schemas/ScoreDRF'
    ScoreDRF:
      type: object
      properties:
        value:
          type: integer
        level:
          type: string
      required:
      - level
      - value
    HealthMetricDRF:
      type: object
      properties:
        sleep:
          $ref: '#/components/schemas/SleepScoreDRF'
    RetrieveHealthScoreRequestObjectDRF:
      type: object
      properties:
        scoreDate:
          type: string
          format: date-time
        userId:
          type: string
        source:
          type: string
        healthTypes:
          type: array
          items:
            type: string
      required:
      - healthTypes
      - source
      - userId
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
