openapi: 3.2.0
info:
  title: Huma Platform Audit Log API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Audit Log
paths:
  /api/v1/audit-log:
    post:
      operationId: api_v1_audit_log_create_[retrieve_audit_logs]
      summary: Retrieve Audit Logs
      tags:
      - Audit Log
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/audit-log/actions:
    get:
      operationId: api_v1_audit_log_actions_retrieve_[retrieve_audit_log_actions]
      summary: Retrieve Audit Log Actions
      tags:
      - Audit Log
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/audit-log/generate-csv:
    post:
      operationId: api_v1_audit_log_generate_csv_create_[generate_audit_logs_csv]
      summary: Generate Audit Logs Csv
      tags:
      - Audit Log
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
components:
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
