openapi: 3.2.0
info:
  title: Huma Platform Medications API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Medications
paths:
  /api/extensions/v1/user/{user_id}/medication:
    post:
      operationId: api_extensions_v1_user_medication_create_[create_medication]
      summary: Create Medication
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMedicationRequestObjectV2DRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMedicationRequestObjectV2DRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateMedicationRequestObjectV2DRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/medication/{medication_id}/calendar:
    get:
      operationId: api_extensions_v1_user_medication_calendar_retrieve_[retrieve_a_medication_calendar]
      summary: Retrieve A Medication Calendar
      parameters:
      - in: query
        name: connectedModule
        schema:
          type: string
      - in: query
        name: deploymentId
        schema:
          type: string
      - in: query
        name: endDateTime
        schema:
          type: string
          format: date-time
        required: true
      - in: query
        name: hideMealBased
        schema:
          type: boolean
      - in: query
        name: logOverride
        schema:
          type: boolean
      - in: query
        name: medicationId
        schema:
          type: string
      - in: path
        name: medication_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: query
        name: startDateTime
        schema:
          type: string
          format: date-time
        required: true
      - in: query
        name: user
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicationCalendarResponseDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/medication/{medication_id}/log:
    post:
      operationId: api_extensions_v1_user_medication_log_create_[create_medication_log]
      summary: Create Medication Log
      parameters:
      - in: path
        name: medication_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMedicationLogRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateMedicationLogRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateMedicationLogRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/medication/{medication_id}/notes:
    get:
      operationId: api_extensions_v1_user_medication_notes_retrieve_[retrieve_a_medication_notes]
      summary: Retrieve A Medication Notes
      parameters:
      - in: path
        name: medication_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicationNotesResponseDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/medication/calendar:
    get:
      operationId: api_extensions_v1_user_medication_calendar_retrieve_[retrieve_medication_calendar]
      summary: Retrieve Medication Calendar
      parameters:
      - in: query
        name: connectedModule
        schema:
          type: string
      - in: query
        name: deploymentId
        schema:
          type: string
      - in: query
        name: endDateTime
        schema:
          type: string
          format: date-time
        required: true
      - in: query
        name: hideMealBased
        schema:
          type: boolean
      - in: query
        name: logOverride
        schema:
          type: boolean
      - in: query
        name: startDateTime
        schema:
          type: string
          format: date-time
        required: true
      - in: query
        name: user
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicationCalendarResponseDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/medication/history/search:
    get:
      operationId: api_extensions_v1_user_medication_history_search_retrieve_[retrieve_medications_history]
      summary: Retrieve Medications History
      parameters:
      - in: query
        name: deploymentId
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: searchWithUserType
        schema:
          type: string
      - in: query
        name: seen
        schema:
          type: boolean
      - in: query
        name: skip
        schema:
          type: integer
      - in: query
        name: userId
        schema:
          type: string
      - in: query
        name: userType
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicationHistoryResponseV2DRF'
          description: ''
  /api/extensions/v1/user/{user_id}/medication/history/seen:
    post:
      operationId: api_extensions_v1_user_medication_history_seen_create_[update_medication_history_as_seen]
      summary: Update Medication History As Seen
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdResponseObjectDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/medication/logs:
    get:
      operationId: api_extensions_v1_user_medication_logs_retrieve_[retrieve_medication_logs]
      summary: Retrieve Medication Logs
      parameters:
      - in: query
        name: endDateTime
        schema:
          type: string
          format: date-time
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: query
        name: moduleId
        schema:
          type: string
      - in: query
        name: startDateTime
        schema:
          type: string
          format: date-time
      - in: query
        name: status
        schema:
          type: string
      - in: query
        name: userId
        schema:
          type: string
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicationLogsResponseDRF'
          description: ''
  /api/extensions/v1/user/{user_id}/medication/search:
    get:
      operationId: api_extensions_v1_user_medication_search_retrieve_[retrieve_medications]
      summary: Retrieve Medications
      parameters:
      - in: query
        name: deploymentId
        schema:
          type: string
      - in: query
        name: enabled
        schema:
          type: boolean
      - in: query
        name: grouped
        schema:
          type: boolean
      - in: query
        name: hideMealBased
        schema:
          type: boolean
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: skip
        schema:
          type: integer
      - in: query
        name: user
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/user/{user_id}/medication/unseen:
    get:
      operationId: api_extensions_v1_user_medication_unseen_retrieve_[retrieve_unseen_medication_results]
      summary: Retrieve Unseen Medication Results
      parameters:
      - in: query
        name: deployment
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: moduleConfigId
        schema:
          type: string
      - in: query
        name: skip
        schema:
          type: integer
      - in: query
        name: userId
        schema:
          type: string
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Medications
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveUnseenMedicationResultsResponseDRF'
          description: ''
components:
  schemas:
    ModuleConfigDRF:
      type: object
      properties:
        id:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        moduleId:
          type: string
        moduleName:
          type: string
        shortModuleName:
          type: string
        status:
          type: string
        order:
          type: integer
        configBody:
          type: object
          additionalProperties: {}
        about:
          type: string
        footnote:
          $ref: '#/components/schemas/FootnoteDRF'
        schedule:
          $ref: '#/components/schemas/ModuleScheduleDRF'
        ragThresholds:
          type: array
          items:
            $ref: '#/components/schemas/RagThresholdDRF'
        learnArticleIds:
          type: array
          items:
            type: string
        learnArticles:
          type: array
          items:
            type: object
            additionalProperties: {}
        version:
          type: integer
        staticEvent:
          $ref: '#/components/schemas/StaticEventDRF'
        notificationData:
          $ref: '#/components/schemas/NotificationDataDRF'
        localizationPrefix:
          type: string
        goal:
          $ref: '#/components/schemas/ModuleGoalDTODRF'
        goalEnabled:
          type: boolean
        feedback:
          $ref: '#/components/schemas/FeedbackConfigDRF'
        feedbackTexts:
          type: array
          items:
            $ref: '#/components/schemas/FeedbackTextsDRF'
        readOnly:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - moduleId
    RoleAssignmentDTODRF:
      type: object
      properties:
        roleId:
          type: string
        resource:
          type: string
        userType:
          type: string
        isActive:
          type: boolean
      required:
      - resource
      - roleId
    MessagingDRF:
      type: object
      properties:
        enabled:
          type: boolean
        twoWayMessaging:
          type: boolean
        messages:
          type: array
          items:
            type: string
        allowCustomMessage:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    SurgeryDetailItemDRF:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        order:
          type: integer
      required:
      - key
      - value
    AdditionalConsentQuestionDRF:
      type: object
      properties:
        type:
          type: string
        enabled:
          type: string
        format:
          type: string
        text:
          type: string
        description:
          type: string
        order:
          type: integer
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - enabled
      - format
      - text
      - type
    MedicationHistoryItemDRF:
      type: object
      properties:
        regimen:
          $ref: '#/components/schemas/RegimenChangeDRF'
        updateDateTime:
          type: string
          format: date-time
      required:
      - regimen
      - updateDateTime
    MoveUserReasonsDRF:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/ReasonDRF'
        otherReason:
          type: boolean
    AdditionalContactDetailsItemDRF:
      type: object
      properties:
        altContactNumber:
          type: boolean
        regularContactName:
          type: boolean
        regularContactNumber:
          type: boolean
        emergencyContactName:
          type: boolean
        emergencyContactNumber:
          type: boolean
        mandatoryFields:
          type: array
          items:
            type: string
    CreateMedicationRequestObjectV2DRF:
      type: object
      properties:
        enabled:
          type: boolean
        userId:
          type: string
        deploymentId:
          type: string
        moduleId:
          type: string
        moduleConfigId:
          type: string
        name:
          type: string
        coding:
          type: array
          items:
            $ref: '#/components/schemas/CodingDRF'
        dosage:
          type: number
          format: double
        unit:
          type: string
        customUnit:
          type: string
        indication:
          $ref: '#/components/schemas/IndicationDRF'
        isNotificationEnabled:
          type: boolean
        maxDosage:
          type: number
          format: double
        schedule:
          $ref: '#/components/schemas/MedicationV2ScheduleDRF'
        submitterId:
          type: string
        submitterUserType:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        additionalFields:
          $ref: '#/components/schemas/AdditionalFieldsDRF'
        mealSchedule:
          type: array
          items:
            $ref: '#/components/schemas/MedicationMealScheduleDRF'
        connectedModules:
          type: array
          items:
            type: string
        groupId:
          type: string
        user:
          $ref: '#/components/schemas/UserDTODRF'
        deployment:
          $ref: '#/components/schemas/DeploymentDTODRF'
        submitter:
          $ref: '#/components/schemas/UserDTODRF'
        moduleConfig:
          $ref: '#/components/schemas/ModuleConfigDRF'
      required:
      - moduleConfigId
      - name
    SurgeryDetailsDRF:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/SurgeryDetailDRF'
        implantType:
          $ref: '#/components/schemas/SurgeryDetailDRF'
        roboticAssistance:
          $ref: '#/components/schemas/SurgeryDetailDRF'
    MedicationV2ScheduleDRF:
      type: object
      properties:
        isoDuration:
          type: string
        timesOfReadings:
          type: array
          items:
            type: string
        timeRanges:
          type: array
          items:
            $ref: '#/components/schemas/TimeDurationDRF'
        specificWeekDays:
          type: array
          items:
            type: string
        asNeeded:
          type: boolean
    UserLabelDRF:
      type: object
      properties:
        labelId:
          type: string
        assignedBy:
          type: string
        assignDateTime:
          type: string
          format: date-time
    RegimenChangeDRF:
      type: object
      properties:
        frequency:
          $ref: '#/components/schemas/CaptureChangeDRF'
      required:
      - frequency
    MedicationNotesResponseDRF:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MedicationReasonUpdatedResponseDRF'
    BuilderDRF:
      type: object
      properties:
        tabs:
          type: array
          items:
            $ref: '#/components/schemas/UITabDRF'
    ConsentSectionOptionsDRF:
      type: object
      properties:
        type:
          type: integer
        text:
          type: string
        order:
          type: integer
        abortOnChoose:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - text
      - type
    ConsentSignatureDRF:
      type: object
      properties:
        signatureTitle:
          type: string
        signatureDetails:
          type: string
        nameTitle:
          type: string
        nameDetails:
          type: string
        hasMiddleName:
          type: boolean
        showFirstLastName:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - nameDetails
      - nameTitle
      - signatureDetails
      - signatureTitle
    UserSurgeryDetailsDRF:
      type: object
      properties:
        operationType:
          type: string
        implantType:
          type: string
        roboticAssistance:
          type: string
    DeploymentDTODRF:
      type: object
      properties:
        termAndConditionUrl:
          type: string
        privacyPolicyUrl:
          type: string
        eulaUrl:
          type: string
        privacyPolicyObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        termAndConditionObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        eulaObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        authorisedRep:
          $ref: '#/components/schemas/AuthorisedRepDRF'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleDTODRF'
        sso:
          $ref: '#/components/schemas/SsoDRF'
        id:
          type: string
        draftId:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        color:
          type: string
        icon:
          $ref: '#/components/schemas/S3ObjectDRF'
        iconFileId:
          type: string
        templateThumbnailFileId:
          type: string
        descriptionUrl:
          type: string
        isSaMD:
          type: boolean
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        moduleConfigs:
          type: array
          items:
            $ref: '#/components/schemas/ModuleConfigDRF'
        onboardingConfigs:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingModuleConfigDTODRF'
        learn:
          $ref: '#/components/schemas/LearnDRF'
        consent:
          $ref: '#/components/schemas/ConsentDRF'
        econsent:
          $ref: '#/components/schemas/EConsentDRF'
        keyActions:
          type: array
          items:
            $ref: '#/components/schemas/KeyActionConfigDRF'
        keyActionsEnabled:
          type: boolean
        profile:
          $ref: '#/components/schemas/ProfileDRF'
        features:
          $ref: '#/components/schemas/FeaturesDRF'
        extraCustomFields:
          type: object
          additionalProperties: {}
        surgeryDetails:
          $ref: '#/components/schemas/SurgeryDetailsDRF'
        contactUsURL:
          type: string
        version:
          type: integer
        integration:
          $ref: '#/components/schemas/IntegrationConfigDRF'
        language:
          type: string
        duration:
          type: string
        security:
          $ref: '#/components/schemas/SecurityDRF'
        mfaRequired:
          type: boolean
        code:
          type: string
        enrollmentCounter:
          type: integer
        staticEventConfig:
          $ref: '#/components/schemas/StaticEventConfigDRF'
        stats:
          $ref: '#/components/schemas/DeploymentStatsDRF'
        localizations:
          type: object
          additionalProperties: {}
        country:
          type: string
        dashboardConfiguration:
          $ref: '#/components/schemas/DeploymentLevelConfigurationDRF'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/LabelDRF'
        tags:
          type: array
          items:
            type: string
        location:
          $ref: '#/components/schemas/LocationDRF'
        integrationDevices:
          type: array
          items:
            $ref: '#/components/schemas/IntegrationDeviceDRF'
        componentConfigs:
          type: object
          additionalProperties: {}
        defaultUnits:
          type: object
          additionalProperties: {}
        builder:
          $ref: '#/components/schemas/BuilderDRF'
        programId:
          type: integer
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    MedicationHistoryResponseV2DRF:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MedicationHistoryV2DTODRF'
        total:
          type: integer
      required:
      - items
      - total
    UserDTODRF:
      type: object
      properties:
        id:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        lastSubmitDateTime:
          type: string
          format: date-time
        givenName:
          type: string
        familyName:
          type: string
        gender:
          type: string
        biologicalSex:
          type: string
        ethnicity:
          type: string
        dateOfBirth:
          type: string
          format: date-time
        email:
          type: string
        calendarLink:
          type: string
        phoneNumber:
          type: string
        primaryAddress:
          type: string
        race:
          type: string
        bloodGroup:
          type: string
        emergencyPhoneNumber:
          type: string
        height:
          type: number
          format: double
        additionalContactDetails:
          $ref: '#/components/schemas/AdditionalContactDetailsDRF'
        familyMedicalHistory:
          type: string
        pastHistory:
          type: string
        presentSymptoms:
          type: string
        operationHistory:
          type: string
        chronicIllness:
          type: string
        allergyHistory:
          type: string
        pregnancy:
          type: string
        dateOfLastPhysicalExam:
          type: string
          format: date-time
        extraCustomFields:
          type: object
          additionalProperties: {}
        surgeryDetails:
          $ref: '#/components/schemas/UserSurgeryDetailsDRF'
        fenlandCohortId:
          type: string
        nhsId:
          type: string
        insuranceNumber:
          type: string
        wechatId:
          type: string
        kardiaId:
          type: string
        pamThirdPartyIdentifier:
          type: string
        medicalRecordNumber:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleAssignmentDTODRF'
        timezone:
          type: string
        recentModuleResults:
          type: object
          additionalProperties: {}
        tags:
          type: object
          additionalProperties: {}
        labels:
          type: array
          items:
            $ref: '#/components/schemas/UserLabelDRF'
        tagsAuthorId:
          type: string
        surgeryDateTime:
          type: string
          format: date-time
        preferences:
          type: object
          additionalProperties: {}
        preferredUnits:
          type: object
          additionalProperties: {}
        addressComponent:
          $ref: '#/components/schemas/AddressObjectDRF'
        personalDocuments:
          type: array
          items:
            $ref: '#/components/schemas/PersonalDocumentDRF'
        enrollmentId:
          type: integer
        enrollmentNumber:
          type: string
        deployments:
          type: array
          items:
            type: string
        deploymentsInfo:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentInfoDRF'
        boardingStatus:
          $ref: '#/components/schemas/BoardingStatusDRF'
        language:
          type: string
        finishedOnboarding:
          type: boolean
        stats:
          $ref: '#/components/schemas/UserStatsDRF'
        ragScore:
          type: array
          items:
            type: integer
        flags:
          $ref: '#/components/schemas/UnseenFlagsDRF'
        unseenFlags:
          $ref: '#/components/schemas/UnseenFlagsDRF'
        recentFlags:
          $ref: '#/components/schemas/RecentFlagsDRF'
        lastLoginDateTime:
          type: string
          format: date-time
        badges:
          type: object
          additionalProperties: {}
        onboardingConfigs:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingModuleConfigDTODRF'
        researchTeamActions:
          $ref: '#/components/schemas/ResearchTeamActionsDRF'
        hasAssignedManagers:
          type: boolean
        componentsData:
          type: object
          additionalProperties: {}
        contactEmail:
          type: string
        assignedManagers:
          type: array
          items:
            type: string
        assignedProxies:
          type: array
          items:
            type: object
            additionalProperties: {}
        assignedParticipants:
          type: array
          items:
            type: object
            additionalProperties: {}
        assignedUsersCount:
          type: integer
        proxyStatus:
          type: string
        status:
          type: string
        ragThresholds:
          type: object
          additionalProperties: {}
        intercomHash:
          type: string
        managerNotifications:
          $ref: '#/components/schemas/ManagerNotificationsDRF'
        profilePicture:
          $ref: '#/components/schemas/FileFieldDRF'
        createdByManager:
          type: boolean
        unreadMessagesCount:
          $ref: '#/components/schemas/UnreadMessagesCountDRF'
        userId:
          type: string
    SecurityDRF:
      type: object
      properties:
        mfaRequired:
          type: boolean
        appLockRequired:
          type: boolean
      required:
      - appLockRequired
      - mfaRequired
    CodingDRF:
      type: object
      properties:
        code:
          type: string
        display:
          type: string
        system:
          type: string
      required:
      - code
      - display
      - system
    BoardingStatusDRF:
      type: object
      properties:
        status:
          type: string
        updateDateTime:
          type: string
          format: date-time
        submitterId:
          type: string
        reasonOffBoarded:
          type: string
        detailsOffBoarded:
          type: string
      required:
      - status
    UIWidgetDRF:
      type: object
      properties:
        order:
          type: integer
        enabled:
          type: boolean
        config:
          type: object
          additionalProperties: {}
        type:
          type: string
        id:
          type: string
      required:
      - config
      - order
      - type
    MedicationReasonUpdatedDRF:
      type: object
      properties:
        reason:
          type: string
        clinicianId:
          type: string
        clinicianName:
          type: string
      required:
      - reason
    LabelDRF:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        authorId:
          type: string
        createDateTime:
          type: string
          format: date-time
        updatedBy:
          type: string
        updateDateTime:
          type: string
          format: date-time
        isStatic:
          type: boolean
        operations:
          type: array
          items:
            type: string
    ListIdResponseObjectDRF:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
    LearnDRF:
      type: object
      properties:
        id:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        sections:
          type: array
          items:
            $ref: '#/components/schemas/LearnSectionDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    MedicationReasonUpdatedResponseDRF:
      type: object
      properties:
        reason:
          type: string
        clinicianId:
          type: string
        clinicianName:
          type: string
        createDateTime:
          type: string
          format: date-time
      required:
      - reason
    ResearchTeamActionsDRF:
      type: object
      properties:
        forms:
          type: array
          items:
            type: string
    ProfileExtraIdsDRF:
      type: object
      properties:
        fenlandCohortId:
          type: boolean
        nhsId:
          type: boolean
        insuranceNumber:
          type: boolean
        wechatId:
          type: boolean
        aliveCorId:
          type: boolean
        medicalRecordNumber:
          type: boolean
        mandatoryOnboardingIds:
          type: array
          items:
            type: string
        unEditableIds:
          type: array
          items:
            type: string
    GenderOptionTypeDRF:
      type: object
      properties:
        displayName:
          type: string
        value:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - displayName
      - value
    ConsentReviewDRF:
      type: object
      properties:
        title:
          type: string
        details:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - details
      - title
    InhalerInfoDRF:
      type: object
      properties:
        frequency:
          type: string
      required:
      - frequency
    MedicationLogDTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        deploymentId:
          type: string
        eventId:
          type: string
        medicationId:
          type: string
        logsCount:
          type: integer
        status:
          type: string
        medicatedDateTimeSlots:
          type: array
          items:
            type: string
            format: date-time
        startDateTime:
          type: string
          format: date-time
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        device:
          $ref: '#/components/schemas/DeviceDetailsDRF'
        source:
          type: string
        medicationName:
          type: string
        dosage:
          type: number
          format: double
        unit:
          type: string
        customUnit:
          type: string
        meal:
          type: string
        userNote:
          type: string
        relatedPrimitiveData:
          $ref: '#/components/schemas/ShortPrimitiveDataDRF'
      required:
      - deploymentId
      - eventId
      - medicationId
      - status
      - userId
    DeploymentInfoDRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        code:
          type: string
        draftId:
          type: string
        status:
          type: string
      required:
      - id
      - name
    IndicationDRF:
      type: object
      properties:
        name:
          type: string
        coding:
          type: array
          items:
            $ref: '#/components/schemas/CodingDRF'
    RetrieveUnseenMedicationResultsResponseDRF:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/UnseenResultDTODRF'
      required:
      - items
    RagThresholdDRF:
      type: object
      properties:
        type:
          type: string
        severity:
          type: integer
        thresholdRange:
          type: array
          items:
            $ref: '#/components/schemas/ThresholdRangeDRF'
        color:
          type: string
        fieldName:
          type: string
        enabled:
          type: boolean
        mealGroup:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - color
      - enabled
      - fieldName
      - severity
      - thresholdRange
      - type
    RoleDTODRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        permissions:
          type: array
          items:
            type: string
        userType:
          type: string
        isThirdParty:
          type: boolean
    MedicationV2DTODRF:
      type: object
      properties:
        id:
          type: string
        enabled:
          type: boolean
        userId:
          type: string
        deploymentId:
          type: string
        moduleId:
          type: string
        moduleConfigId:
          type: string
        name:
          type: string
        coding:
          type: array
          items:
            $ref: '#/components/schemas/CodingDRF'
        dosage:
          type: number
          format: double
        unit:
          type: string
        customUnit:
          type: string
        indication:
          $ref: '#/components/schemas/IndicationDRF'
        isNotificationEnabled:
          type: boolean
        maxDosage:
          type: number
          format: double
        schedule:
          $ref: '#/components/schemas/MedicationV2ScheduleDRF'
        adherence:
          $ref: '#/components/schemas/AdherenceDRF'
        adherences:
          type: array
          items:
            $ref: '#/components/schemas/AdherenceDRF'
        submitterId:
          type: string
        reason:
          $ref: '#/components/schemas/MedicationReasonUpdatedDRF'
        submitterUserType:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        additionalFields:
          $ref: '#/components/schemas/AdditionalFieldsDRF'
        mealSchedule:
          type: array
          items:
            $ref: '#/components/schemas/MedicationMealScheduleDRF'
        connectedModules:
          type: array
          items:
            type: string
        groupId:
          type: string
    AdherenceDRF:
      type: object
      properties:
        unit:
          type: string
        value:
          type: integer
        type:
          type: string
    ModuleGoalCreatedByDRF:
      type: object
      properties:
        creatorId:
          type: string
        creatorName:
          type: string
    PAMIntegrationConfigDRF:
      type: object
      properties:
        submitSurveyURI:
          type: string
        enrollUserURI:
          type: string
        clientExtID:
          type: string
        clientPassKeyEncrypted:
          type: string
        subgroupExtID:
          type: string
      required:
      - clientExtID
      - clientPassKeyEncrypted
      - enrollUserURI
      - subgroupExtID
      - submitSurveyURI
    LocationDRF:
      type: object
      properties:
        address:
          type: string
        country:
          type: string
        countryCode:
          type: string
        city:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        postalCode:
          type: string
        state:
          type: string
        street:
          type: string
    FootnoteDRF:
      type: object
      properties:
        enabled:
          type: boolean
        text:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    KeyActionConfigDRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        deltaFromTriggerTime:
          type: string
        durationFromTrigger:
          type: string
        durationIso:
          type: string
        instanceExpiresIn:
          type: string
        type:
          type: string
        trigger:
          type: string
        notifyEvery:
          type: string
        numberOfNotifications:
          type: integer
        learnArticleId:
          type: string
        learnArticle:
          type: object
          additionalProperties: {}
        moduleId:
          type: string
        moduleConfigId:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - deltaFromTriggerTime
      - durationIso
      - trigger
      - type
    StaticEventConfigDRF:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        preview:
          type: string
      required:
      - description
      - title
    ModuleGoalDTODRF:
      type: object
      properties:
        values:
          type: array
          items:
            type: object
            additionalProperties: {}
        notes:
          type: string
        completed:
          type: boolean
        dateOfCompletion:
          type: string
          format: date-time
        createdBy:
          $ref: '#/components/schemas/ModuleGoalCreatedByDRF'
        createDateTime:
          type: string
          format: date-time
        seenByApp:
          type: boolean
        seenByCPAfterCompletion:
          type: boolean
        achieveNotificationSent:
          type: boolean
    PeriodProgressDRF:
      type: object
      properties:
        taskCompliance:
          type: number
          format: double
        startDateTime:
          type: string
          format: date-time
        openQueriesAmount:
          type: integer
        passedDueDateFormsAmount:
          type: integer
        passedDatesCounter:
          type: array
          items:
            $ref: '#/components/schemas/PassedDueDateEventsAmountDRF'
    StudyProgressDRF:
      type: object
      properties:
        currentPeriod:
          type: integer
        totalPeriods:
          type: integer
        totalCompliance:
          type: number
          format: double
        periodProgress:
          type: array
          items:
            $ref: '#/components/schemas/PeriodProgressDRF'
        totalOpenQueriesAmount:
          type: integer
    EthnicityOptionDRF:
      type: object
      properties:
        displayName:
          type: string
        value:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - displayName
      - value
    AdditionalContactDetailsDRF:
      type: object
      properties:
        altContactNumber:
          type: string
        regularContactName:
          type: string
        regularContactNumber:
          type: string
        emergencyContactName:
          type: string
        emergencyContactNumber:
          type: string
    DeviceDetailsDRF:
      type: object
      properties:
        uuid:
          type: string
        serialNumber:
          type: string
        modelName:
          type: string
        manufacturer:
          type: string
      required:
      - manufacturer
      - modelName
      - uuid
    MedicationHistoryV2DTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        deploymentId:
          type: string
        medicationId:
          type: string
        medicationName:
          type: string
        changeType:
          type: string
        userType:
          type: string
        seen:
          type: boolean
        reason:
          $ref: '#/components/schemas/MedicationReasonUpdatedDRF'
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        regimen:
          $ref: '#/components/schemas/RegimenChangeDRF'
      required:
      - changeType
      - deploymentId
      - medicationId
      - medicationName
      - userId
      - userType
    FeedbackConfigDRF:
      type: object
      properties:
        enabled:
          type: boolean
        upperBound:
          type: integer
        lowerBound:
          type: integer
        query:
          type: string
        tags:
          type: array
          items:
            type: string
        cmsContentIds:
          type: array
          items:
            type: string
        severityFilter:
          type: array
          items:
            $ref: '#/components/schemas/SeverityFilterDRF'
        variabilityFilter:
          $ref: '#/components/schemas/VariabilityFilterDRF'
        feedbacks:
          type: array
          items:
            $ref: '#/components/schemas/FeedBacksGroupedByRagDRF'
      required:
      - enabled
    UITabDRF:
      type: object
      properties:
        order:
          type: integer
        id:
          type: string
        screenId:
          type: string
        name:
          type: string
        type:
          type: string
        description:
          type: string
        icon:
          type: string
        status:
          type: string
        background:
          $ref: '#/components/schemas/BackgroundDRF'
        widgets:
          type: array
          items:
            $ref: '#/components/schemas/UIWidgetDRF'
        extras:
          type: object
          additionalProperties: {}
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - background
      - icon
      - name
      - order
      - status
    TimeDurationDRF:
      type: object
      properties:
        startTime:
          type: string
        endTime:
          type: string
      required:
      - endTime
      - startTime
    FeedbackTextsDRF:
      type: object
      properties:
        groupedBy:
          type: array
          items:
            type: string
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/FeedbackNotificationDataDRF'
    DeviceIntegrationDRF:
      type: object
      properties:
        enabled:
          type: boolean
    CaptureChangeDRF:
      type: object
      properties:
        old:
          type: string
        new:
          type: string
      required:
      - new
      - old
    FeedBacksGroupedByRagDRF:
      type: object
      properties:
        rag:
          type: array
          items:
            type: string
        texts:
          type: array
          items:
            $ref: '#/components/schemas/FeedbackTextDRF'
      required:
      - rag
      - texts
    ManagerNotificationsDRF:
      type: object
      properties:
        demographicsChange:
          type: boolean
    LearnArticleContentDRF:
      type: object
      properties:
        id:
          type: string
        cmsArticleId:
          type: string
        cmsThumbnail:
          type: string
        type:
          type: string
        timeToRead:
          type: string
        textDetails:
          type: string
        videoUrl:
          $ref: '#/components/schemas/S3ObjectDRF'
        url:
          type: string
        contentObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        read:
          type: boolean
        isValid:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - type
    UnseenFlagsDRF:
      type: object
      properties:
        red:
          type: integer
        amber:
          type: integer
        green:
          type: integer
        gray:
          type: integer
    NotificationDataDRF:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
        offline:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    OffBoardingReasonsDRF:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/ReasonDRF'
        otherReason:
          type: boolean
    BackgroundDRF:
      type: object
      properties:
        value:
          type: string
        type:
          type: string
      required:
      - type
      - value
    ConsentDRF:
      type: object
      properties:
        id:
          type: string
        enabled:
          type: string
        review:
          $ref: '#/components/schemas/ConsentReviewDRF'
        revision:
          type: integer
        additionalConsentQuestions:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalConsentQuestionDRF'
        signature:
          $ref: '#/components/schemas/ConsentSignatureDRF'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/ConsentSectionDRF'
        instituteName:
          type: string
        instituteFullName:
          type: string
        instituteTextDetails:
          type: string
        admissionText:
          type: string
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - enabled
    RecentFlagsDRF:
      type: object
      properties:
        red:
          type: integer
        amber:
          type: integer
        green:
          type: integer
        gray:
          type: integer
    SsoInfoDRF:
      type: object
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
        discoveryUrl:
          type: string
        redirectUri:
          type: string
        xmlsecBinary:
          type: string
        entityid:
          type: string
        service:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
        keyFile:
          type: string
        certFile:
          type: string
        encryptionKeypairs:
          type: array
          items:
            type: object
            additionalProperties: {}
        organization:
          type: object
          additionalProperties: {}
        contactPerson:
          type: object
          additionalProperties: {}
        certificateCrt:
          type: string
        samlMetadataXml:
          type: string
        privateKey:
          type: string
      required:
      - clientId
      - clientSecret
      - discoveryUrl
      - redirectUri
    SeverityFilterDRF:
      type: object
      properties:
        severity:
          type: integer
        tags:
          type: array
          items:
            type: string
      required:
      - severity
      - tags
    StaticEventDRF:
      type: object
      properties:
        enabled:
          type: boolean
        isoDuration:
          type: string
        title:
          type: string
        description:
          type: string
      required:
      - description
      - enabled
      - title
    UserStatsDRF:
      type: object
      properties:
        taskCompliance:
          $ref: '#/components/schemas/TaskComplianceDRF'
        studyProgress:
          $ref: '#/components/schemas/StudyProgressDRF'
    ProfileDRF:
      type: object
      properties:
        fields:
          $ref: '#/components/schemas/ProfileFieldsDRF'
        clinicianOnlyFields:
          $ref: '#/components/schemas/ClinicianOnlyFieldsDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    AdditionalFieldsDRF:
      type: object
      properties:
        inhaler:
          $ref: '#/components/schemas/InhalerInfoDRF'
    SsoDRF:
      type: object
      properties:
        name:
          type: string
        org:
          type: string
        info:
          $ref: '#/components/schemas/SsoInfoDRF'
    EConsentSectionDRF:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        details:
          type: string
        reviewDetails:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/ConsentSectionOptionsDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        contentType:
          type: string
        thumbnailUrl:
          type: string
        thumbnailLocation:
          $ref: '#/components/schemas/S3ObjectDRF'
        videoUrl:
          type: string
        videoLocation:
          $ref: '#/components/schemas/S3ObjectDRF'
      required:
      - contentType
      - type
    SurgeryDateRuleDRF:
      type: object
      properties:
        maxPastRange:
          type: string
        maxFutureRange:
          type: string
    DeploymentLevelConfigurationDRF:
      type: object
      properties:
        targetConsentedMonthly:
          type: integer
        targetConsented:
          type: integer
        day0Anchor:
          type: string
        targetCompleted:
          type: integer
    UnreadMessagesCountDRF:
      type: object
      properties:
        manager:
          type: integer
        user:
          type: integer
    SummaryReportDRF:
      type: object
      properties:
        enabled:
          type: boolean
    EmailTemplateDRF:
      type: object
      properties:
        name:
          type: string
        subject:
          type: string
        template:
          type: string
      required:
      - name
      - template
    ClinicianOnlyFieldsDRF:
      type: object
      properties:
        surgeryDateTime:
          type: boolean
    LearnArticleDRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        thumbnailUrl:
          $ref: '#/components/schemas/S3ObjectDRF'
        order:
          type: integer
        content:
          $ref: '#/components/schemas/LearnArticleContentDRF'
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - content
      - type
    ModuleScheduleDRF:
      type: object
      properties:
        isoDuration:
          type: string
        timesPerDuration:
          type: integer
        friendlyText:
          type: string
        timesOfDay:
          type: array
          items:
            type: string
        timesOfReadings:
          type: array
          items:
            type: string
        specificWeekDays:
          type: array
          items:
            type: string
    ResultIdResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
    MedicationScheduleEventDRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        title:
          type: string
        description:
          type: string
        model:
          type: string
        isRecurring:
          type: boolean
        instanceExpiresIn:
          type: string
        startDateTime:
          type: string
        endDateTime:
          type: string
        enabled:
          type: boolean
        extraFields:
          type: object
          additionalProperties: {}
        parentId:
          type: string
        snoozing:
          type: array
          items:
            type: string
        hasCustomSchedule:
          type: boolean
        isSilent:
          type: boolean
        updateDateTime:
          type: string
        createDateTime:
          type: string
        completeDateTime:
          type: string
        medication:
          $ref: '#/components/schemas/MedicationV2DTODRF'
        localTime:
          type: string
        meal:
          type: string
        source:
          type: string
        device:
          $ref: '#/components/schemas/DeviceDetailsDRF'
        medicatedDateTimeSlots:
          type: array
          items:
            type: string
            format: date-time
        status:
          type: string
        logsCount:
          type: integer
        medicationIds:
          type: array
          items:
            type: string
      required:
      - medication
      - model
    FeedbackNotificationDataDRF:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
        offline:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        order:
          type: integer
    ShortPrimitiveDataDRF:
      type: object
      properties:
        primitiveId:
          type: string
        primitiveName:
          type: string
        moduleId:
          type: string
        moduleConfigId:
          type: string
      required:
      - moduleConfigId
      - moduleId
      - primitiveId
      - primitiveName
    VariabilityFilterDRF:
      type: object
      properties:
        increased:
          type: array
          items:
            type: string
        decreased:
          type: array
          items:
            type: string
        noChange:
          type: array
          items:
            type: string
        unavailable:
          type: array
          items:
            type: string
    SdkConfigDRF:
      type: object
      properties:
        sdkApiUrl:
          type: string
        accessKey:
          type: string
        secretKey:
          type: string
        teamId:
          type: string
        partnerId:
          type: string
    IntegrationDeviceDRF:
      type: object
      properties:
        model:
          type: string
        modelName:
          type: string
        displayName:
          type: string
        manufacturer:
          $ref: '#/components/schemas/DeviceManufacturerDRF'
        moduleIds:
          type: array
          items:
            type: string
        backgroundSync:
          type: boolean
        supportedMedications:
          type: object
          additionalProperties: {}
      required:
      - manufacturer
      - model
    OnboardingModuleConfigDTODRF:
      type: object
      properties:
        id:
          type: string
        onboardingId:
          type: string
        preloadNeeded:
          type: boolean
        status:
          type: string
        configBody:
          type: object
          additionalProperties: {}
        order:
          type: integer
        version:
          type: integer
        versionString:
          type: string
        userTypes:
          type: array
          items:
            type: string
        organizationId:
          type: string
        reason:
          type: string
        deploymentIds:
          type: array
          items:
            type: string
        versionInt:
          type: object
          additionalProperties: {}
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - onboardingId
      - order
    PatientPersonalizationDRF:
      type: object
      properties:
        rag:
          type: boolean
        goal:
          type: boolean
    MedicationDetailsDRF:
      type: object
      properties:
        medicationId:
          type: string
        history:
          type: array
          items:
            $ref: '#/components/schemas/MedicationHistoryItemDRF'
        adherences:
          type: array
          items:
            $ref: '#/components/schemas/AdherenceDRF'
      required:
      - medicationId
    MedicationMealScheduleDRF:
      type: object
      properties:
        meal:
          type: string
        dosage:
          type: number
          format: double
        unit:
          type: string
        customUnit:
          type: string
        timeOfReading:
          type: string
      required:
      - dosage
      - meal
      - timeOfReading
    ConsentSectionDRF:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        details:
          type: string
        reviewDetails:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/ConsentSectionOptionsDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - type
    FeedbackTextDRF:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        order:
          type: integer
      required:
      - id
      - text
    ProfileFieldsDRF:
      type: object
      properties:
        givenName:
          type: boolean
        familyName:
          type: boolean
        dateOfBirth:
          type: boolean
        height:
          type: boolean
        gender:
          type: boolean
        biologicalSex:
          type: boolean
        race:
          type: boolean
        ethnicity:
          type: boolean
        ethnicityOptions:
          type: array
          items:
            $ref: '#/components/schemas/EthnicityOptionDRF'
        additionalContactDetails:
          $ref: '#/components/schemas/AdditionalContactDetailsItemDRF'
        mandatoryOnboardingFields:
          type: array
          items:
            type: string
        extraIds:
          $ref: '#/components/schemas/ProfileExtraIdsDRF'
        genderOptions:
          type: array
          items:
            $ref: '#/components/schemas/GenderOptionTypeDRF'
        bloodGroup:
          type: boolean
        phoneNumber:
          type: boolean
        email:
          type: boolean
        primaryAddress:
          type: boolean
        emergencyPhoneNumber:
          type: boolean
        familyMedicalHistory:
          type: boolean
        pastHistory:
          type: boolean
        presentSymptoms:
          type: boolean
        operationHistory:
          type: boolean
        chronicIllness:
          type: boolean
        allergyHistory:
          type: boolean
        pregnancy:
          type: boolean
        dateOfLastPhysicalExam:
          type: boolean
        unEditableFields:
          type: array
          items:
            type: string
        validators:
          type: object
          additionalProperties: {}
        ordering:
          type: array
          items:
            type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        ExcludedFromOrderingFields:
          type: array
          items:
            type: string
          title: ' excluded from ordering fields'
    ThresholdRangeDRF:
      type: object
      properties:
        minValue:
          type: number
          format: double
        maxValue:
          type: number
          format: double
        exactValueStr:
          type: string
    FileFieldDRF:
      type: object
      properties:
        fileId:
          type: string
      required:
      - fileId
    CreateMedicationLogRequestObjectDRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        deploymentId:
          type: string
        eventId:
          type: string
        medicationId:
          type: string
        logsCount:
          type: integer
        status:
          type: string
        medicatedDateTimeSlots:
          type: array
          items:
            type: string
            format: date-time
        startDateTime:
          type: string
          format: date-time
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        device:
          $ref: '#/components/schemas/DeviceDetailsDRF'
        source:
          type: string
        medicationName:
          type: string
        dosage:
          type: number
          format: double
        unit:
          type: string
        customUnit:
          type: string
        meal:
          type: string
        userNote:
          type: string
        relatedPrimitiveData:
          $ref: '#/components/schemas/ShortPrimitiveDataDRF'
        deployment:
          $ref: '#/components/schemas/DeploymentDTODRF'
        user:
          $ref: '#/components/schemas/UserDTODRF'
    SurgeryDetailDRF:
      type: object
      properties:
        displayString:
          type: string
        placeHolder:
          type: string
        order:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/SurgeryDetailItemDRF'
      required:
      - displayString
      - placeHolder
    StatDRF:
      type: object
      properties:
        value:
          type: integer
        unit:
          type: string
      required:
      - value
    AddressObjectDRF:
      type: object
      properties:
        fiatNumber:
          type: string
        buildingNumber:
          type: string
        buildingName:
          type: string
        street:
          type: string
        subStreet:
          type: string
        town:
          type: string
        state:
          type: string
        postcode:
          type: string
        country:
          type: string
        line1:
          type: string
        line2:
          type: string
        line3:
          type: string
    FeaturesDRF:
      type: object
      properties:
        appMenu:
          type: array
          items:
            type: string
        appointment:
          type: boolean
        carePlanDailyAdherence:
          type: boolean
        offBoarding:
          type: boolean
        personalDocuments:
          type: boolean
        patientPersonalization:
          $ref: '#/components/schemas/PatientPersonalizationDRF'
        proxy:
          type: boolean
        surgeryDateRule:
          $ref: '#/components/schemas/SurgeryDateRuleDRF'
        labels:
          type: boolean
        portal:
          type: object
          additionalProperties: {}
        offBoardingReasons:
          $ref: '#/components/schemas/OffBoardingReasonsDRF'
        moveUserReasons:
          $ref: '#/components/schemas/MoveUserReasonsDRF'
        messaging:
          $ref: '#/components/schemas/MessagingDRF'
        hideAppSupport:
          type: boolean
        summaryReport:
          $ref: '#/components/schemas/SummaryReportDRF'
        linkInvites:
          type: boolean
        classB:
          type: boolean
        deviceIntegration:
          $ref: '#/components/schemas/DeviceIntegrationDRF'
        customAppConfig:
          type: object
          additionalProperties: {}
        improvedOnboarding:
          type: boolean
        timeline:
          type: boolean
        profilePicture:
          type: boolean
        unitsIsHidden:
          type: boolean
        dataDownloadIsHidden:
          type: boolean
        labelIsHidden:
          type: boolean
        ifuIsHidden:
          type: boolean
        videoAdapter:
          type: string
        mealBasedModules:
          type: array
          items:
            type: string
        email:
          $ref: '#/components/schemas/EmailConfigDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    PersonalDocumentDRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        fileType:
          type: string
        fileObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        createDateTime:
          type: string
          format: date-time
        updateDateTime:
          type: string
          format: date-time
      required:
      - fileObject
      - fileType
      - name
    EmailConfigDRF:
      type: object
      properties:
        enabled:
          type: boolean
        templates:
          type: array
          items:
            $ref: '#/components/schemas/EmailTemplateDRF'
    AuthorisedRepDRF:
      type: object
      properties:
        iconObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        addressTitle:
          type: string
        address:
          type: string
        showBuildNumber:
          type: boolean
      required:
      - address
      - addressTitle
      - iconObject
      - showBuildNumber
    IntegrationConfigDRF:
      type: object
      properties:
        pamConfig:
          $ref: '#/components/schemas/PAMIntegrationConfigDRF'
    UnseenResultDTODRF:
      type: object
      properties:
        id:
          type: string
        userId:
          type: string
        deploymentId:
          type: string
        moduleId:
          type: string
        moduleConfigId:
          type: string
        primitiveName:
          type: string
        extra:
          type: object
          additionalProperties: {}
        flags:
          $ref: '#/components/schemas/UnseenFlagsDRF'
        source:
          type: string
        startDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - deploymentId
      - flags
      - moduleId
      - primitiveName
      - userId
    ReasonDRF:
      type: object
      properties:
        order:
          type: integer
        displayName:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - displayName
      - order
    TaskComplianceDRF:
      type: object
      properties:
        current:
          type: integer
        total:
          type: integer
        due:
          type: integer
        updateDateTime:
          type: string
          format: date-time
        percentage:
          type: integer
    DeploymentStatsDRF:
      type: object
      properties:
        completedCount:
          $ref: '#/components/schemas/StatDRF'
        completedTask:
          $ref: '#/components/schemas/StatDRF'
        consentedCount:
          $ref: '#/components/schemas/StatDRF'
        enrolledCount:
          $ref: '#/components/schemas/StatDRF'
        patientCount:
          $ref: '#/components/schemas/StatDRF'
        updateDateTime:
          type: string
          format: date-time
    LearnSectionDRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        order:
          type: integer
        articles:
          type: array
          items:
            $ref: '#/components/schemas/LearnArticleDRF'
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    MedicationCalendarResponseDRF:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MedicationScheduleEventDRF'
        medications:
          type: array
          items:
            $ref: '#/components/schemas/MedicationDetailsDRF'
    DeviceManufacturerDRF:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        sdkKey:
          type: string
        sdkConfig:
          $ref: '#/components/schemas/SdkConfigDRF'
      required:
      - name
    EConsentDRF:
      type: object
      properties:
        id:
          type: string
        enabled:
          type: string
        review:
          $ref: '#/components/schemas/ConsentReviewDRF'
        revision:
          type: integer
        additionalConsentQuestions:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalConsentQuestionDRF'
        signature:
          $ref: '#/components/schemas/ConsentSignatureDRF'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/EConsentSectionDRF'
        instituteName:
          type: string
        instituteFullName:
          type: string
        instituteTextDetails:
          type: string
        admissionText:
          type: string
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        title:
          type: string
        overviewText:
          type: string
        contactText:
          type: string
      required:
      - contactText
      - enabled
      - overviewText
      - sections
      - title
    MedicationLogsResponseDRF:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/MedicationLogDTODRF'
      required:
      - items
    S3ObjectDRF:
      type: object
      properties:
        bucket:
          type: string
        key:
          type: string
        region:
          type: string
      required:
      - bucket
      - key
    PassedDueDateEventsAmountDRF:
      type: object
      properties:
        endDateTime:
          type: string
          format: date-time
        amount:
          type: integer
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
