openapi: 3.2.0
info:
  title: Huma Platform Billing Portal Route API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Billing Portal Route
paths:
  /api/v1/billing-portal/cpt/{client_id}:
    get:
      operationId: api_v1_billing_portal_cpt_retrieve_[get_client_report]
      description: 'Get a client report for the Billing Portal.

        Responsible for rendering the client report page and downloading the client report data.'
      summary: Get Client Report
      parameters:
      - in: query
        name: clientId
        schema:
          type: string
        required: true
      - in: path
        name: client_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: query
        name: reportEndDate
        schema:
          type: string
        required: true
      tags:
      - Billing Portal Route
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: XLSX file
components:
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
