openapi: 3.2.0
info:
  title: Huma Platform Roche CDS API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Roche CDS
paths:
  /api/cds/v1/user/{user_id}/pregnancy:
    post:
      operationId: api_cds_v1_user_pregnancy_create_[update_pregnancy_info]
      summary: Update Pregnancy Info
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Roche CDS
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePregnancyRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdatePregnancyRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdatePregnancyRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
components:
  schemas:
    ResultIdResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
    UpdatePregnancyRequestObjectDRF:
      type: object
      properties:
        userId:
          type: string
        dueDate:
          type: string
      required:
      - dueDate
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
