openapi: 3.2.0
info:
  title: Huma Platform Fitbit API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Fitbit
paths:
  /api/extensions/v1/fitbit/notify:
    get:
      operationId: api_extensions_v1_fitbit_notify_retrieve_[verify_subscriber]
      description: 'Verify Subscription

        https://dev.fitbit.com/build/reference/web-api/developer-guide/using-subscriptions/#Verifying-a-Subscriber'
      summary: Verify Subscriber
      parameters:
      - in: query
        name: verify
        schema:
          type: string
      tags:
      - Fitbit
      security:
      - {}
      responses:
        '204':
          description: Code is valid
        '404':
          description: Invalid code
    post:
      operationId: api_extensions_v1_fitbit_notify_create_[receive_notification]
      summary: Receive Notification
      parameters:
      - in: header
        name: signature
        schema:
          type: string
      tags:
      - Fitbit
      security:
      - {}
      responses:
        '204':
          description: Success
        '404':
          description: Signature not found or Fitbit config is disabled
  /api/extensions/v1/fitbit/redirect:
    get:
      operationId: api_extensions_v1_fitbit_redirect_retrieve_[redirect]
      summary: Redirect
      parameters:
      - in: query
        name: code
        schema:
          type: string
      - in: header
        name: language
        schema:
          type: string
      - in: header
        name: languageHeader
        schema:
          type: string
      - in: query
        name: state
        schema:
          type: string
      tags:
      - Fitbit
      security:
      - {}
      responses:
        '200':
          description: HTML Template
  /api/extensions/v1/fitbit/user-exists:
    post:
      operationId: api_extensions_v1_fitbit_user_exists_create_[fitbit_user_exists]
      description: Used by HCP not fitbit, in order to find the right backend in backend per customer
      summary: Fitbit User Exists
      parameters:
      - in: header
        name: signature
        schema:
          type: string
      tags:
      - Fitbit
      security:
      - {}
      responses:
        '204':
          description: Success
        '404':
          description: Signature not found, Fitbit config is disabled, or Fitbit User doesn't exist
components:
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
