openapi: 3.2.0
info:
  title: Huma Platform Withings Integration API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Withings Integration
paths:
  /api/extensions/v1/withings/auth/url:
    get:
      operationId: api_extensions_v1_withings_auth_url_retrieve_[get_auth_url]
      description: Get Withings authorization URL
      summary: Get Auth Url
      tags:
      - Withings Integration
      security:
      - {}
      responses:
        '200':
          description: No response body
  /api/extensions/v1/withings/notify:
    get:
      operationId: api_extensions_v1_withings_notify_retrieve_[verify_subscription]
      summary: Verify Subscription
      tags:
      - Withings Integration
      security:
      - {}
      responses:
        '200':
          description: No response body
  /api/extensions/v1/withings/redirect:
    get:
      operationId: api_extensions_v1_withings_redirect_retrieve_[redirect]
      description: Handle OAuth redirect after Withings authorization
      summary: Redirect
      parameters:
      - in: query
        name: code
        schema:
          type: string
        required: true
      - in: header
        name: language
        schema:
          type: string
      - in: query
        name: state
        schema:
          type: string
        required: true
      tags:
      - Withings Integration
      security:
      - {}
      responses:
        '200':
          description: No response body
components:
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
