openapi: 3.2.0
info:
  title: Huma Platform Billing API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Billing
paths:
  /api/extensions/v1/billing/log-actions:
    get:
      operationId: api_extensions_v1_billing_log_actions_retrieve_[retrieve_billing_monitoring_log_action_list]
      summary: Retrieve Billing Monitoring Log Action List
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/billing/profiles:
    post:
      operationId: api_extensions_v1_billing_profiles_create_[retrieve_billing_alerts]
      summary: Retrieve Billing Alerts
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/billing/user/{user_id}:
    get:
      operationId: api_extensions_v1_billing_user_retrieve_[calculate_cumulative_monitoring_time_and_cpt_code]
      summary: Calculate Cumulative Monitoring Time And Cpt Code
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateCumulativeMonitoringTimeResponseObjectDRF'
          description: ''
    post:
      operationId: api_extensions_v1_billing_user_create_[create_billing_remote_time_tracking]
      summary: Create Billing Remote Time Tracking
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBillingRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateBillingRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateBillingRequestBodyDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateCumulativeMonitoringTimeResponseObjectDRF'
          description: ''
  /api/extensions/v1/billing/user/{user_id}/log:
    post:
      operationId: api_extensions_v1_billing_user_log_create_[create_billing_monitoring_log]
      summary: Create Billing Monitoring Log
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/billing/user/{user_id}/log/{log_id}:
    put:
      operationId: api_extensions_v1_billing_user_log_update_[update_billing_monitoring_log]
      summary: Update Billing Monitoring Log
      parameters:
      - in: path
        name: log_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
    delete:
      operationId: api_extensions_v1_billing_user_log_destroy_[delete_billing_monitoring_log]
      summary: Delete Billing Monitoring Log
      parameters:
      - in: path
        name: log_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/billing/user/{user_id}/logs:
    post:
      operationId: api_extensions_v1_billing_user_logs_create_[retrieve_billing_monitoring_logs]
      summary: Retrieve Billing Monitoring Logs
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveBillingMonitoringLogsRequestBodyDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveBillingMonitoringLogsRequestBodyDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveBillingMonitoringLogsRequestBodyDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingMonitoringLogsResponseObjectDRF'
          description: ''
  /api/extensions/v1/billing/user/{user_id}/report:
    get:
      operationId: api_extensions_v1_billing_user_report_retrieve_[report_billing_records_for_cpt]
      summary: Report Billing Records For Cpt
      parameters:
      - in: path
        name: user_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CPTReportResponseObjectDRF'
          description: ''
  /api/extensions/v1/export/:
    post:
      operationId: api_extensions_v1_export_create_[export]
      summary: Export
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/export/deployment/{deployment_id}:
    post:
      operationId: api_extensions_v1_export_deployment_create_[export_deployment]
      summary: Export Deployment
      parameters:
      - in: path
        name: deployment_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/integration/billing_test:
    post:
      operationId: api_extensions_v1_integration_billing_test_create_[manually_run_billing]
      summary: Manually Run Billing
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerTaskRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TriggerTaskRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TriggerTaskRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTaskResponseObjectDRF'
          description: ''
  /api/extensions/v1/integration/fetch_referring_providers:
    post:
      operationId: api_extensions_v1_integration_fetch_referring_providers_create_[manually_fetch_referring_providers]
      summary: Manually Fetch Referring Providers
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerTaskRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TriggerTaskRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/TriggerTaskRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTaskResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/bill/{billId}/charge/{chargeId}:
    get:
      operationId: api_v1_billing_portal_bill_charge_retrieve_[get_billing_charge_record]
      summary: Get Billing Charge Record
      parameters:
      - in: path
        name: authzUser
        schema:
          type: string
        required: true
      - in: path
        name: billId
        schema:
          type: string
        required: true
      - in: path
        name: chargeId
        schema:
          type: string
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CptChargeUnitObjectDRF'
          description: ''
  /api/v1/billing-portal/bill/{billId}/charges/delete:
    delete:
      operationId: api_v1_billing_portal_bill_charges_delete_destroy_[delete_billing_charge_record]
      summary: Delete Billing Charge Record
      parameters:
      - in: path
        name: billId
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteChargeResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/bill/{bill_id}/{charge_id}:
    patch:
      operationId: api_v1_billing_portal_bill_partial_update_[update_billing_charge_record]
      summary: Update Billing Charge Record
      parameters:
      - in: path
        name: bill_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      - in: path
        name: charge_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedChargeUnitRecordRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedChargeUnitRecordRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedChargeUnitRecordRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/bill/{bill_id}/charges:
    post:
      operationId: api_v1_billing_portal_bill_charges_create_[create_billing_charges_records]
      summary: Create Billing Charges Records
      parameters:
      - in: path
        name: bill_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendChargeToBillRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AppendChargeToBillRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AppendChargeToBillRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/billing/{bill_id}/charge:
    put:
      operationId: api_v1_billing_portal_billing_charge_update_[create_billing_charge_record]
      summary: Create Billing Charge Record
      parameters:
      - in: path
        name: bill_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChargeUnitRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateChargeUnitRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateChargeUnitRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListIdResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/call-export-task:
    post:
      operationId: api_v1_billing_portal_call_export_task_create_[call_export_task]
      description: 'Call the export task for the Billing Portal.

        This endpoint is used to trigger the export of billing data.

        Month and year are taken from the request query parameters.'
      summary: Call Export Task
      parameters:
      - in: query
        name: deploymentId
        schema:
          type: string
      - in: query
        name: exportMonth
        schema:
          type: integer
      - in: query
        name: exportYear
        schema:
          type: integer
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponseDRF'
          description: ''
  /api/v1/billing-portal/client-medical-records:
    get:
      operationId: api_v1_billing_portal_client_medical_records_retrieve_[get_client_medical_record]
      description: 'Get client medical records for the Billing Portal.

        This endpoint is used to retrieve client medical records.'
      summary: Get Client Medical Record
      parameters:
      - in: query
        name: clientId
        schema:
          type: string
      - in: query
        name: reportEndDate
        schema:
          type: string
          format: date-time
      - in: query
        name: yearMonth
        schema:
          type: string
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientMedicalRecordResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/clients:
    post:
      operationId: api_v1_billing_portal_clients_create_[add_client]
      description: Add a single client for the Billing Portal.
      summary: Add Client
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddClientRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddClientRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AddClientRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/clients/filter:
    post:
      operationId: api_v1_billing_portal_clients_filter_create_[get_clients_endpoint]
      summary: Get Clients Endpoint
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveClientsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveClientsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveClientsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveClientsResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/cpt/billing/submitted:
    patch:
      operationId: api_v1_billing_portal_cpt_billing_submitted_partial_update_[update_billing_submitted_flag]
      summary: Update Billing Submitted Flag
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUpdateIsSubmittedRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUpdateIsSubmittedRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUpdateIsSubmittedRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateIsSubmittedResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/cpt/months:
    post:
      operationId: api_v1_billing_portal_cpt_months_create_[get_cpt_months]
      summary: Get Cpt Months
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveAvailableMonthsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RetrieveAvailableMonthsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/RetrieveAvailableMonthsRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveAvailableMonthsResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/cpt/profiles:
    get:
      operationId: api_v1_billing_portal_cpt_profiles_retrieve_[get_cpt_profiles]
      description: 'Get Billing Portal profiles.

        Returns CPT profiles for the given year-month, filtered by accessible deployments and optional client/search.'
      summary: Get Cpt Profiles
      parameters:
      - in: query
        name: clientId
        schema:
          type: string
      - in: query
        name: filter
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: requester
        schema:
          type: string
        required: true
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: skip
        schema:
          type: integer
      - in: query
        name: submitted
        schema:
          type: string
      - in: query
        name: yearMonth
        schema:
          type: string
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCPTProfilesResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/deployment-client/:
    post:
      operationId: api_v1_billing_portal_deployment_client_create_[add_deployment_client]
      description: Add a deployment to a client for the Billing Portal.
      summary: Add Deployment Client
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddClientDeploymentRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AddClientDeploymentRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AddClientDeploymentRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultIdResponseObjectDRF'
          description: ''
    put:
      operationId: api_v1_billing_portal_deployment_client_update_[update_deployment_client]
      description: Update a deployment for a client for the Billing Portal.
      summary: Update Deployment Client
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateClientDeploymentRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpdateClientDeploymentRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpdateClientDeploymentRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponseDRF'
          description: ''
    delete:
      operationId: api_v1_billing_portal_deployment_client_destroy_[delete_deployment_client]
      description: Delete a deployment for a client for the Billing Portal.
      summary: Delete Deployment Client
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponseDRF'
          description: ''
  /api/v1/billing-portal/export-data:
    delete:
      operationId: api_v1_billing_portal_export_data_destroy_[delete_export]
      description: 'Delete the export data for the Billing Portal.

        This endpoint is used to remove the export of billing data.

        Month and year are taken from the request query parameters.'
      summary: Delete Export
      parameters:
      - in: query
        name: deploymentId
        schema:
          type: string
      - in: query
        name: exportMonth
        schema:
          type: integer
      - in: query
        name: exportYear
        schema:
          type: integer
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          description: No response body
  /api/v1/billing-portal/export/cpt/profiles:
    get:
      operationId: api_v1_billing_portal_export_cpt_profiles_retrieve_[export_cpt_profile_overview]
      description: 'Get Billing Portal profiles.

        Returns CPT profiles for the given year-month, filtered by accessible deployments and optional client/search.'
      summary: Export Cpt Profile Overview
      parameters:
      - in: query
        name: clientId
        schema:
          type: string
      - in: query
        name: file_name
        schema:
          type: string
      - in: query
        name: filter
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: requester
        schema:
          type: string
        required: true
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: skip
        schema:
          type: integer
      - in: query
        name: submitted
        schema:
          type: string
      - in: query
        name: yearMonth
        schema:
          type: string
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/billing-portal/export/invoice/client:
    post:
      operationId: api_v1_billing_portal_export_invoice_client_create_[export_invoice_details_csv]
      summary: Export Invoice Details Csv
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportClientInvoiceDetailsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ExportClientInvoiceDetailsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExportClientInvoiceDetailsRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/billing-portal/export/invoice/overview:
    get:
      operationId: api_v1_billing_portal_export_invoice_overview_retrieve_[export_invoices_overview_to_csv]
      summary: Export Invoices Overview To Csv
      parameters:
      - in: query
        name: authzUser
        schema:
          type: string
      - in: query
        name: clientId
        schema:
          type: string
      - in: query
        name: file_name
        schema:
          type: string
      - in: query
        name: format
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: skip
        schema:
          type: integer
      - in: query
        name: yearMonth
        schema:
          type: string
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/billing-portal/generate/billing_and_invoices/:
    get:
      operationId: api_v1_billing_portal_generate_billing_and_invoices_retrieve_[generate_reports]
      description: Generate billing and invoice reports for the Billing Portal.
      summary: Generate Reports
      parameters:
      - in: query
        name: monthYear
        schema:
          type: string
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponseDRF'
          description: ''
  /api/v1/billing-portal/get-clients-invoices:
    get:
      operationId: api_v1_billing_portal_get_clients_invoices_retrieve_[get_clients_invoices]
      description: 'Get all clients'' invoices for the Billing Portal.

        This endpoint is used to retrieve all clients'' invoices as a CSV file.

        If no report_end_date is provided, all reports from all dates will be included.

        If a report_end_date is provided, only reports for that date will be included.'
      summary: Get Clients Invoices
      parameters:
      - in: query
        name: reportEndDate
        schema:
          type: string
          format: date-time
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/billing-portal/import/salesforce:
    post:
      operationId: api_v1_billing_portal_import_salesforce_create_[add_sales_force_file]
      summary: Add Sales Force File
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddSalesForceFileResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/import/salesforce/:
    get:
      operationId: api_v1_billing_portal_import_salesforce_retrieve_[download_sales_force_file]
      description: Downloads the sales force file for the Billing Portal.
      summary: Download Sales Force File
      parameters:
      - in: query
        name: version
        schema:
          type: integer
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/billing-portal/invoice/client:
    post:
      operationId: api_v1_billing_portal_invoice_client_create_[get_client_invoice_details]
      summary: Get Client Invoice Details
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientInvoiceDetailsRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ClientInvoiceDetailsRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ClientInvoiceDetailsRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveClientsInvoicesResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/invoice/overview:
    get:
      operationId: api_v1_billing_portal_invoice_overview_retrieve_[get_invoices_overview]
      summary: Get Invoices Overview
      parameters:
      - in: query
        name: authzUser
        schema:
          type: string
      - in: query
        name: clientId
        schema:
          type: string
      - in: query
        name: format
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: skip
        schema:
          type: integer
      - in: query
        name: yearMonth
        schema:
          type: string
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveInvoiceOverviewResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/patient-medical-records:
    get:
      operationId: api_v1_billing_portal_patient_medical_records_retrieve_[get_patient_medical_record]
      description: 'Get patient medical records for the Billing Portal.

        This endpoint is used to retrieve client medical records.'
      summary: Get Patient Medical Record
      parameters:
      - in: query
        name: reportEndDate
        schema:
          type: string
          format: date-time
      - in: query
        name: userId
        schema:
          type: string
      - in: query
        name: yearMonth
        schema:
          type: string
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/billing-portal/patient-medical-records/all/pdf:
    get:
      operationId: api_v1_billing_portal_patient_medical_records_all_pdf_retrieve_[get_patient_medical_record_all_pdf]
      description: 'Get all patient medical records for the Billing Portal.

        This endpoint retrieves all patient medical records in PDF formats, zipped together.'
      summary: Get Patient Medical Record All Pdf
      parameters:
      - in: query
        name: reportEndDate
        schema:
          type: string
          format: date-time
      - in: query
        name: yearMonth
        schema:
          type: string
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/billing-portal/patient-medical-records/pdf:
    get:
      operationId: api_v1_billing_portal_patient_medical_records_pdf_retrieve_[get_patient_medical_record_pdf]
      description: 'Get patient medical records for the Billing Portal.

        This endpoint retrieves patient medical records in PDF format.'
      summary: Get Patient Medical Record Pdf
      parameters:
      - in: query
        name: reportEndDate
        schema:
          type: string
          format: date-time
      - in: query
        name: userId
        schema:
          type: string
      - in: query
        name: yearMonth
        schema:
          type: string
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/v1/billing-portal/performance:
    get:
      operationId: api_v1_billing_portal_performance_retrieve_[get_performance_overview]
      summary: Get Performance Overview
      parameters:
      - in: query
        name: authzUser
        schema:
          type: string
      - in: query
        name: filters
        schema:
          type: string
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: search
        schema:
          type: string
      - in: query
        name: skip
        schema:
          type: integer
      - in: query
        name: sort
        schema:
          type: string
      - in: query
        name: stateFilter
        schema:
          type: string
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PerformanceOverviewResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/record:
    post:
      operationId: api_v1_billing_portal_record_create_[create_billing_record]
      summary: Create Billing Record
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertBillingRecordRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UpsertBillingRecordRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UpsertBillingRecordRequestObjectDRF'
        required: true
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertBillingRecordResponseObjectDRF'
          description: ''
  /api/v1/billing-portal/record/{bill_id}:
    get:
      operationId: api_v1_billing_portal_record_retrieve_[get_billing_record]
      summary: Get Billing Record
      parameters:
      - in: path
        name: bill_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingRecordResponseObjectDRF'
          description: ''
    patch:
      operationId: api_v1_billing_portal_record_partial_update_[update_billing_record]
      summary: Update Billing Record
      parameters:
      - in: path
        name: bill_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUpdateBillingRecordRequestObjectDRF'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedUpdateBillingRecordRequestObjectDRF'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedUpdateBillingRecordRequestObjectDRF'
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '204':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertBillingRecordResponseObjectDRF'
          description: ''
    delete:
      operationId: api_v1_billing_portal_record_destroy_[delete_billing_record]
      summary: Delete Billing Record
      parameters:
      - in: path
        name: bill_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Billing
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBillingRecordResponseObjectDRF'
          description: ''
components:
  schemas:
    OffBoardingReasonsDRF:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/ReasonDRF'
        otherReason:
          type: boolean
    UIWidgetDRF:
      type: object
      properties:
        order:
          type: integer
        enabled:
          type: boolean
        config:
          type: object
          additionalProperties: {}
        type:
          type: string
        id:
          type: string
      required:
      - config
      - order
      - type
    DeploymentStatsDRF:
      type: object
      properties:
        completedCount:
          $ref: '#/components/schemas/StatDRF'
        completedTask:
          $ref: '#/components/schemas/StatDRF'
        consentedCount:
          $ref: '#/components/schemas/StatDRF'
        enrolledCount:
          $ref: '#/components/schemas/StatDRF'
        patientCount:
          $ref: '#/components/schemas/StatDRF'
        updateDateTime:
          type: string
          format: date-time
    RetrieveClientsRequestObjectDRF:
      type: object
      properties:
        skip:
          type: integer
        limit:
          type: integer
        ids:
          type: array
          items:
            type: string
        search:
          type: string
    ModuleConfigDRF:
      type: object
      properties:
        id:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        moduleId:
          type: string
        moduleName:
          type: string
        shortModuleName:
          type: string
        status:
          type: string
        order:
          type: integer
        configBody:
          type: object
          additionalProperties: {}
        about:
          type: string
        footnote:
          $ref: '#/components/schemas/FootnoteDRF'
        schedule:
          $ref: '#/components/schemas/ModuleScheduleDRF'
        ragThresholds:
          type: array
          items:
            $ref: '#/components/schemas/RagThresholdDRF'
        learnArticleIds:
          type: array
          items:
            type: string
        learnArticles:
          type: array
          items:
            type: object
            additionalProperties: {}
        version:
          type: integer
        staticEvent:
          $ref: '#/components/schemas/StaticEventDRF'
        notificationData:
          $ref: '#/components/schemas/NotificationDataDRF'
        localizationPrefix:
          type: string
        goal:
          $ref: '#/components/schemas/ModuleGoalDTODRF'
        goalEnabled:
          type: boolean
        feedback:
          $ref: '#/components/schemas/FeedbackConfigDRF'
        feedbackTexts:
          type: array
          items:
            $ref: '#/components/schemas/FeedbackTextsDRF'
        readOnly:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - moduleId
    SurgeryDetailItemDRF:
      type: object
      properties:
        key:
          type: string
        value:
          type: string
        order:
          type: integer
      required:
      - key
      - value
    RecentFlagsDRF:
      type: object
      properties:
        red:
          type: integer
        amber:
          type: integer
        green:
          type: integer
        gray:
          type: integer
    GetBillingRecordResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
        deployment:
          $ref: '#/components/schemas/DeploymentDTODRF'
        deploymentId:
          type: string
        patient:
          $ref: '#/components/schemas/UserDTODRF'
        patientId:
          type: string
        provider:
          type: string
        diagnosisType:
          type: string
        deviceConnectionDate:
          type: string
        primaryInsurance:
          type: string
        workFlow:
          type: string
        reportEndDate:
          type: string
        isEligible:
          type: boolean
        monitoringMinutes:
          type: integer
        numberOfCalls:
          type: integer
        monthReading:
          type: integer
        consentDate:
          type: string
        consentId:
          type: string
        deviceType:
          type: string
        deviceModel:
          type: string
        charges:
          type: array
          items:
            $ref: '#/components/schemas/CptChargeUnitObjectDRF'
    UserStatsDRF:
      type: object
      properties:
        taskCompliance:
          $ref: '#/components/schemas/TaskComplianceDRF'
        studyProgress:
          $ref: '#/components/schemas/StudyProgressDRF'
    FeaturesDRF:
      type: object
      properties:
        appMenu:
          type: array
          items:
            type: string
        appointment:
          type: boolean
        carePlanDailyAdherence:
          type: boolean
        offBoarding:
          type: boolean
        personalDocuments:
          type: boolean
        patientPersonalization:
          $ref: '#/components/schemas/PatientPersonalizationDRF'
        proxy:
          type: boolean
        surgeryDateRule:
          $ref: '#/components/schemas/SurgeryDateRuleDRF'
        labels:
          type: boolean
        portal:
          type: object
          additionalProperties: {}
        offBoardingReasons:
          $ref: '#/components/schemas/OffBoardingReasonsDRF'
        moveUserReasons:
          $ref: '#/components/schemas/MoveUserReasonsDRF'
        messaging:
          $ref: '#/components/schemas/MessagingDRF'
        hideAppSupport:
          type: boolean
        summaryReport:
          $ref: '#/components/schemas/SummaryReportDRF'
        linkInvites:
          type: boolean
        classB:
          type: boolean
        deviceIntegration:
          $ref: '#/components/schemas/DeviceIntegrationDRF'
        customAppConfig:
          type: object
          additionalProperties: {}
        improvedOnboarding:
          type: boolean
        timeline:
          type: boolean
        profilePicture:
          type: boolean
        unitsIsHidden:
          type: boolean
        dataDownloadIsHidden:
          type: boolean
        labelIsHidden:
          type: boolean
        ifuIsHidden:
          type: boolean
        videoAdapter:
          type: string
        mealBasedModules:
          type: array
          items:
            type: string
        email:
          $ref: '#/components/schemas/EmailConfigDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    SsoDRF:
      type: object
      properties:
        name:
          type: string
        org:
          type: string
        info:
          $ref: '#/components/schemas/SsoInfoDRF'
    CreateBillingRequestBodyDRF:
      type: object
      properties:
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
    SurgeryDetailsDRF:
      type: object
      properties:
        operationType:
          $ref: '#/components/schemas/SurgeryDetailDRF'
        implantType:
          $ref: '#/components/schemas/SurgeryDetailDRF'
        roboticAssistance:
          $ref: '#/components/schemas/SurgeryDetailDRF'
    CalculateCumulativeMonitoringTimeResponseObjectDRF:
      type: object
      properties:
        monitoringTimeSeconds:
          type: number
          format: double
        userId:
          type: string
        cptCode:
          type: string
        cptCodeIteration:
          type: integer
        status:
          type: string
      required:
      - cptCode
      - cptCodeIteration
      - monitoringTimeSeconds
      - status
      - userId
    PAMIntegrationConfigDRF:
      type: object
      properties:
        submitSurveyURI:
          type: string
        enrollUserURI:
          type: string
        clientExtID:
          type: string
        clientPassKeyEncrypted:
          type: string
        subgroupExtID:
          type: string
      required:
      - clientExtID
      - clientPassKeyEncrypted
      - enrollUserURI
      - subgroupExtID
      - submitSurveyURI
    RetrieveBillingMonitoringLogsRequestBodyDRF:
      type: object
      properties:
        skip:
          type: integer
        limit:
          type: integer
    UpsertBillingRecordRequestObjectDRF:
      type: object
      properties:
        deploymentId:
          type: string
        patientId:
          type: string
        provider:
          type: string
        diagnosisType:
          type: string
        deviceConnectionDate:
          type: string
          format: date-time
        primaryInsurance:
          type: string
        workFlow:
          type: string
        reportEndDate:
          type: string
          format: date-time
        isEligible:
          type: boolean
        monitoringMinutes:
          type: integer
        numberOfCalls:
          type: integer
        monthReading:
          type: integer
        consentDate:
          type: string
          format: date-time
        consentId:
          type: string
        deviceType:
          type: string
        deviceModel:
          type: string
        charges:
          type: array
          items:
            $ref: '#/components/schemas/ChargeUnitRecordRequestObjectDRF'
      required:
      - consentDate
      - reportEndDate
    RetrieveClientsResponseObjectDRF:
      type: object
      properties:
        skip:
          type: integer
        limit:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/ClientDTODRF'
        total:
          type: integer
    CPTProfileEntryDRF:
      type: object
      properties:
        id:
          type: string
        mongoId:
          type: string
        userId:
          type: string
        givenName:
          type: string
        familyName:
          type: string
        clinicName:
          type: string
        clientId:
          type: string
        diagnosisType:
          type: string
        provider:
          type: string
        monitoringMinutes:
          type: integer
        numberOfCalls:
          type: integer
        monthReading:
          type: integer
        deploymentId:
          type: string
        reportEndDate:
          type: string
        cptCodes:
          type: string
        dateOfBirth:
          type: string
        mrn:
          type: string
        isSubmitted:
          type: boolean
    ClientDTODRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        paymentFormula:
          type: object
          additionalProperties: {}
    ManagerNotificationsDRF:
      type: object
      properties:
        demographicsChange:
          type: boolean
    RetrieveInvoiceOverviewResponseObjectDRF:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/InvoiceOverViewReportRowDTODRF'
        total:
          type: integer
        skip:
          type: integer
        limit:
          type: integer
    AddSalesForceFileResponseObjectDRF:
      type: object
      properties:
        id:
          type: integer
        message:
          type: string
    TriggerTaskResponseObjectDRF:
      type: object
      properties:
        result:
          type: string
    UITabDRF:
      type: object
      properties:
        order:
          type: integer
        id:
          type: string
        screenId:
          type: string
        name:
          type: string
        type:
          type: string
        description:
          type: string
        icon:
          type: string
        status:
          type: string
        background:
          $ref: '#/components/schemas/BackgroundDRF'
        widgets:
          type: array
          items:
            $ref: '#/components/schemas/UIWidgetDRF'
        extras:
          type: object
          additionalProperties: {}
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - background
      - icon
      - name
      - order
      - status
    UnseenFlagsDRF:
      type: object
      properties:
        red:
          type: integer
        amber:
          type: integer
        green:
          type: integer
        gray:
          type: integer
    DeploymentLevelConfigurationDRF:
      type: object
      properties:
        targetConsentedMonthly:
          type: integer
        targetConsented:
          type: integer
        day0Anchor:
          type: string
        targetCompleted:
          type: integer
    AddClientDeploymentRequestObjectDRF:
      type: object
      properties:
        clientId:
          type: string
        deploymentId:
          type: string
    DeviceIntegrationDRF:
      type: object
      properties:
        enabled:
          type: boolean
    AppendChargeToBillRequestObjectDRF:
      type: object
      properties:
        billId:
          type: string
        charges:
          type: array
          items:
            $ref: '#/components/schemas/ChargeUnitRecordRequestObjectDRF'
    FileFieldDRF:
      type: object
      properties:
        fileId:
          type: string
      required:
      - fileId
    UserLabelDRF:
      type: object
      properties:
        labelId:
          type: string
        assignedBy:
          type: string
        assignDateTime:
          type: string
          format: date-time
    RetrieveClientsInvoicesResponseObjectDRF:
      type: object
      properties:
        limit:
          type: integer
        skip:
          type: integer
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/ClientInvoiceDetailRowObjectDRF'
    PeriodProgressDRF:
      type: object
      properties:
        taskCompliance:
          type: number
          format: double
        startDateTime:
          type: string
          format: date-time
        openQueriesAmount:
          type: integer
        passedDueDateFormsAmount:
          type: integer
        passedDatesCounter:
          type: array
          items:
            $ref: '#/components/schemas/PassedDueDateEventsAmountDRF'
    LabelDRF:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        authorId:
          type: string
        createDateTime:
          type: string
          format: date-time
        updatedBy:
          type: string
        updateDateTime:
          type: string
          format: date-time
        isStatic:
          type: boolean
        operations:
          type: array
          items:
            type: string
    ResponseBillingMonitoringLogDTODRF:
      type: object
      properties:
        id:
          type: string
        originalLogId:
          type: string
        deploymentId:
          type: string
        createdById:
          type: string
        lastModifiedById:
          type: string
        userId:
          type: string
        timeTrackingId:
          type: string
        status:
          type: string
        action:
          type: string
        addendum:
          type: string
        timeSpent:
          type: number
          format: double
        startDateTime:
          type: string
          format: date-time
        endDateTime:
          type: string
          format: date-time
        initialCreateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        updateDateTime:
          type: string
          format: date-time
        createdByName:
          type: string
        lastModifiedByName:
          type: string
      required:
      - action
      - createdByName
      - lastModifiedByName
    BackgroundDRF:
      type: object
      properties:
        value:
          type: string
        type:
          type: string
      required:
      - type
      - value
    PassedDueDateEventsAmountDRF:
      type: object
      properties:
        endDateTime:
          type: string
          format: date-time
        amount:
          type: integer
    SdkConfigDRF:
      type: object
      properties:
        sdkApiUrl:
          type: string
        accessKey:
          type: string
        secretKey:
          type: string
        teamId:
          type: string
        partnerId:
          type: string
    ThresholdRangeDRF:
      type: object
      properties:
        minValue:
          type: number
          format: double
        maxValue:
          type: number
          format: double
        exactValueStr:
          type: string
    PerformanceMonitoringOverviewResponseRowObjectDRF:
      type: object
      properties:
        clientId:
          type: string
        clientName:
          type: string
        status:
          type: string
        billableCapturePercent:
          type: integer
        billableCaptureCount:
          type: integer
        noMonitorNoCallCount:
          type: integer
        monitoredNoCallCount:
          type: integer
        noMonitorCalledCount:
          type: integer
        monitoredCalledCount:
          type: integer
        nonCompliantCount:
          type: integer
    IntegrationDeviceDRF:
      type: object
      properties:
        model:
          type: string
        modelName:
          type: string
        displayName:
          type: string
        manufacturer:
          $ref: '#/components/schemas/DeviceManufacturerDRF'
        moduleIds:
          type: array
          items:
            type: string
        backgroundSync:
          type: boolean
        supportedMedications:
          type: object
          additionalProperties: {}
      required:
      - manufacturer
      - model
    UserDTODRF:
      type: object
      properties:
        id:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        lastSubmitDateTime:
          type: string
          format: date-time
        givenName:
          type: string
        familyName:
          type: string
        gender:
          type: string
        biologicalSex:
          type: string
        ethnicity:
          type: string
        dateOfBirth:
          type: string
          format: date-time
        email:
          type: string
        calendarLink:
          type: string
        phoneNumber:
          type: string
        primaryAddress:
          type: string
        race:
          type: string
        bloodGroup:
          type: string
        emergencyPhoneNumber:
          type: string
        height:
          type: number
          format: double
        additionalContactDetails:
          $ref: '#/components/schemas/AdditionalContactDetailsDRF'
        familyMedicalHistory:
          type: string
        pastHistory:
          type: string
        presentSymptoms:
          type: string
        operationHistory:
          type: string
        chronicIllness:
          type: string
        allergyHistory:
          type: string
        pregnancy:
          type: string
        dateOfLastPhysicalExam:
          type: string
          format: date-time
        extraCustomFields:
          type: object
          additionalProperties: {}
        surgeryDetails:
          $ref: '#/components/schemas/UserSurgeryDetailsDRF'
        fenlandCohortId:
          type: string
        nhsId:
          type: string
        insuranceNumber:
          type: string
        wechatId:
          type: string
        kardiaId:
          type: string
        pamThirdPartyIdentifier:
          type: string
        medicalRecordNumber:
          type: string
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleAssignmentDTODRF'
        timezone:
          type: string
        recentModuleResults:
          type: object
          additionalProperties: {}
        tags:
          type: object
          additionalProperties: {}
        labels:
          type: array
          items:
            $ref: '#/components/schemas/UserLabelDRF'
        tagsAuthorId:
          type: string
        surgeryDateTime:
          type: string
          format: date-time
        preferences:
          type: object
          additionalProperties: {}
        preferredUnits:
          type: object
          additionalProperties: {}
        addressComponent:
          $ref: '#/components/schemas/AddressObjectDRF'
        personalDocuments:
          type: array
          items:
            $ref: '#/components/schemas/PersonalDocumentDRF'
        enrollmentId:
          type: integer
        enrollmentNumber:
          type: string
        deployments:
          type: array
          items:
            type: string
        deploymentsInfo:
          type: array
          items:
            $ref: '#/components/schemas/DeploymentInfoDRF'
        boardingStatus:
          $ref: '#/components/schemas/BoardingStatusDRF'
        language:
          type: string
        finishedOnboarding:
          type: boolean
        stats:
          $ref: '#/components/schemas/UserStatsDRF'
        ragScore:
          type: array
          items:
            type: integer
        flags:
          $ref: '#/components/schemas/UnseenFlagsDRF'
        unseenFlags:
          $ref: '#/components/schemas/UnseenFlagsDRF'
        recentFlags:
          $ref: '#/components/schemas/RecentFlagsDRF'
        lastLoginDateTime:
          type: string
          format: date-time
        badges:
          type: object
          additionalProperties: {}
        onboardingConfigs:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingModuleConfigDTODRF'
        researchTeamActions:
          $ref: '#/components/schemas/ResearchTeamActionsDRF'
        hasAssignedManagers:
          type: boolean
        componentsData:
          type: object
          additionalProperties: {}
        contactEmail:
          type: string
        assignedManagers:
          type: array
          items:
            type: string
        assignedProxies:
          type: array
          items:
            type: object
            additionalProperties: {}
        assignedParticipants:
          type: array
          items:
            type: object
            additionalProperties: {}
        assignedUsersCount:
          type: integer
        proxyStatus:
          type: string
        status:
          type: string
        ragThresholds:
          type: object
          additionalProperties: {}
        intercomHash:
          type: string
        managerNotifications:
          $ref: '#/components/schemas/ManagerNotificationsDRF'
        profilePicture:
          $ref: '#/components/schemas/FileFieldDRF'
        createdByManager:
          type: boolean
        unreadMessagesCount:
          $ref: '#/components/schemas/UnreadMessagesCountDRF'
        userId:
          type: string
    KeyActionConfigDRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        deltaFromTriggerTime:
          type: string
        durationFromTrigger:
          type: string
        durationIso:
          type: string
        instanceExpiresIn:
          type: string
        type:
          type: string
        trigger:
          type: string
        notifyEvery:
          type: string
        numberOfNotifications:
          type: integer
        learnArticleId:
          type: string
        learnArticle:
          type: object
          additionalProperties: {}
        moduleId:
          type: string
        moduleConfigId:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - deltaFromTriggerTime
      - durationIso
      - trigger
      - type
    BuilderDRF:
      type: object
      properties:
        tabs:
          type: array
          items:
            $ref: '#/components/schemas/UITabDRF'
    SsoInfoDRF:
      type: object
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
        discoveryUrl:
          type: string
        redirectUri:
          type: string
        xmlsecBinary:
          type: string
        entityid:
          type: string
        service:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
        keyFile:
          type: string
        certFile:
          type: string
        encryptionKeypairs:
          type: array
          items:
            type: object
            additionalProperties: {}
        organization:
          type: object
          additionalProperties: {}
        contactPerson:
          type: object
          additionalProperties: {}
        certificateCrt:
          type: string
        samlMetadataXml:
          type: string
        privateKey:
          type: string
      required:
      - clientId
      - clientSecret
      - discoveryUrl
      - redirectUri
    EmailTemplateDRF:
      type: object
      properties:
        name:
          type: string
        subject:
          type: string
        template:
          type: string
      required:
      - name
      - template
    PatientPersonalizationDRF:
      type: object
      properties:
        rag:
          type: boolean
        goal:
          type: boolean
    DeviceManufacturerDRF:
      type: object
      properties:
        name:
          type: string
        displayName:
          type: string
        sdkKey:
          type: string
        sdkConfig:
          $ref: '#/components/schemas/SdkConfigDRF'
      required:
      - name
    ConsentDRF:
      type: object
      properties:
        id:
          type: string
        enabled:
          type: string
        review:
          $ref: '#/components/schemas/ConsentReviewDRF'
        revision:
          type: integer
        additionalConsentQuestions:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalConsentQuestionDRF'
        signature:
          $ref: '#/components/schemas/ConsentSignatureDRF'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/ConsentSectionDRF'
        instituteName:
          type: string
        instituteFullName:
          type: string
        instituteTextDetails:
          type: string
        admissionText:
          type: string
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - enabled
    DeploymentInfoDRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        code:
          type: string
        draftId:
          type: string
        status:
          type: string
      required:
      - id
      - name
    AdditionalContactDetailsDRF:
      type: object
      properties:
        altContactNumber:
          type: string
        regularContactName:
          type: string
        regularContactNumber:
          type: string
        emergencyContactName:
          type: string
        emergencyContactNumber:
          type: string
    TaskComplianceDRF:
      type: object
      properties:
        current:
          type: integer
        total:
          type: integer
        due:
          type: integer
        updateDateTime:
          type: string
          format: date-time
        percentage:
          type: integer
    MoveUserReasonsDRF:
      type: object
      properties:
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/ReasonDRF'
        otherReason:
          type: boolean
    AuthorisedRepDRF:
      type: object
      properties:
        iconObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        addressTitle:
          type: string
        address:
          type: string
        showBuildNumber:
          type: boolean
      required:
      - address
      - addressTitle
      - iconObject
      - showBuildNumber
    StaticEventDRF:
      type: object
      properties:
        enabled:
          type: boolean
        isoDuration:
          type: string
        title:
          type: string
        description:
          type: string
      required:
      - description
      - enabled
      - title
    SecurityDRF:
      type: object
      properties:
        mfaRequired:
          type: boolean
        appLockRequired:
          type: boolean
      required:
      - appLockRequired
      - mfaRequired
    FootnoteDRF:
      type: object
      properties:
        enabled:
          type: boolean
        text:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    OnboardingModuleConfigDTODRF:
      type: object
      properties:
        id:
          type: string
        onboardingId:
          type: string
        preloadNeeded:
          type: boolean
        status:
          type: string
        configBody:
          type: object
          additionalProperties: {}
        order:
          type: integer
        version:
          type: integer
        versionString:
          type: string
        userTypes:
          type: array
          items:
            type: string
        organizationId:
          type: string
        reason:
          type: string
        deploymentIds:
          type: array
          items:
            type: string
        versionInt:
          type: object
          additionalProperties: {}
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
      required:
      - onboardingId
      - order
    TriggerTaskRequestObjectDRF:
      type: object
      properties:
        includeUsers:
          type: array
          items:
            type: string
        dryRun:
          type: boolean
    FeedbackTextsDRF:
      type: object
      properties:
        groupedBy:
          type: array
          items:
            type: string
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/FeedbackNotificationDataDRF'
    GenderOptionTypeDRF:
      type: object
      properties:
        displayName:
          type: string
        value:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - displayName
      - value
    StudyProgressDRF:
      type: object
      properties:
        currentPeriod:
          type: integer
        totalPeriods:
          type: integer
        totalCompliance:
          type: number
          format: double
        periodProgress:
          type: array
          items:
            $ref: '#/components/schemas/PeriodProgressDRF'
        totalOpenQueriesAmount:
          type: integer
    S3ObjectDRF:
      type: object
      properties:
        bucket:
          type: string
        key:
          type: string
        region:
          type: string
      required:
      - bucket
      - key
    PerformanceReadingOverviewResponseRowObjectDRF:
      type: object
      properties:
        clientId:
          type: string
        clientName:
          type: string
        status:
          type: string
        billableCapturePercent:
          type: integer
        noReadingCount:
          type: integer
        reading1to4Count:
          type: integer
        reading5to8Count:
          type: integer
        reading9to15Count:
          type: integer
        reading16PlusCount:
          type: integer
        nonCompliantCount:
          type: integer
    SummaryReportDRF:
      type: object
      properties:
        enabled:
          type: boolean
    UpdateChargeUnitRequestObjectDRF:
      type: object
      properties:
        billId:
          type: string
        chargeId:
          type: string
        charge:
          $ref: '#/components/schemas/ChargeUnitRecordRequestObjectDRF'
      required:
      - billId
      - charge
      - chargeId
    CPTReportResponseObjectDRF:
      type: object
      properties:
        status:
          type: string
        earliestBillingDate:
          type: string
          format: date-time
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        daysHaveSubmission:
          type: integer
        timeSpent:
          type: number
          format: double
        cptCodeIteration:
          type: string
        cptCode:
          type: string
        order:
          type: integer
      required:
      - cptCode
      - order
      - status
    UnreadMessagesCountDRF:
      type: object
      properties:
        manager:
          type: integer
        user:
          type: integer
    ConsentSignatureDRF:
      type: object
      properties:
        signatureTitle:
          type: string
        signatureDetails:
          type: string
        nameTitle:
          type: string
        nameDetails:
          type: string
        hasMiddleName:
          type: boolean
        showFirstLastName:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - nameDetails
      - nameTitle
      - signatureDetails
      - signatureTitle
    PatchedUpdateIsSubmittedRequestObjectDRF:
      type: object
      properties:
        id:
          type: string
        isSubmitted:
          type: boolean
    AdditionalConsentQuestionDRF:
      type: object
      properties:
        type:
          type: string
        enabled:
          type: string
        format:
          type: string
        text:
          type: string
        description:
          type: string
        order:
          type: integer
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - enabled
      - format
      - text
      - type
    UpdateIsSubmittedResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
        isSubmitted:
          type: boolean
    MessagingDRF:
      type: object
      properties:
        enabled:
          type: boolean
        twoWayMessaging:
          type: boolean
        messages:
          type: array
          items:
            type: string
        allowCustomMessage:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    ModuleGoalCreatedByDRF:
      type: object
      properties:
        creatorId:
          type: string
        creatorName:
          type: string
    LocationDRF:
      type: object
      properties:
        address:
          type: string
        country:
          type: string
        countryCode:
          type: string
        city:
          type: string
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        postalCode:
          type: string
        state:
          type: string
        street:
          type: string
    ReasonDRF:
      type: object
      properties:
        order:
          type: integer
        displayName:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - displayName
      - order
    EmailConfigDRF:
      type: object
      properties:
        enabled:
          type: boolean
        templates:
          type: array
          items:
            $ref: '#/components/schemas/EmailTemplateDRF'
    RagThresholdDRF:
      type: object
      properties:
        type:
          type: string
        severity:
          type: integer
        thresholdRange:
          type: array
          items:
            $ref: '#/components/schemas/ThresholdRangeDRF'
        color:
          type: string
        fieldName:
          type: string
        enabled:
          type: boolean
        mealGroup:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - color
      - enabled
      - fieldName
      - severity
      - thresholdRange
      - type
    ClientInvoiceDetailsRequestObjectDRF:
      type: object
      properties:
        skip:
          type: integer
        limit:
          type: integer
        yearMonth:
          type: string
        clientId:
          type: string
        search:
          type: string
      required:
      - yearMonth
    SeverityFilterDRF:
      type: object
      properties:
        severity:
          type: integer
        tags:
          type: array
          items:
            type: string
      required:
      - severity
      - tags
    FeedbackTextDRF:
      type: object
      properties:
        id:
          type: string
        text:
          type: string
        order:
          type: integer
      required:
      - id
      - text
    ResearchTeamActionsDRF:
      type: object
      properties:
        forms:
          type: array
          items:
            type: string
    ListIdResponseObjectDRF:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
    ConsentReviewDRF:
      type: object
      properties:
        title:
          type: string
        details:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - details
      - title
    SurgeryDetailDRF:
      type: object
      properties:
        displayString:
          type: string
        placeHolder:
          type: string
        order:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/SurgeryDetailItemDRF'
      required:
      - displayString
      - placeHolder
    ResultIdResponseObjectDRF:
      type: object
      properties:
        id:
          type: string
    DeploymentDTODRF:
      type: object
      properties:
        termAndConditionUrl:
          type: string
        privacyPolicyUrl:
          type: string
        eulaUrl:
          type: string
        privacyPolicyObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        termAndConditionObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        eulaObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        authorisedRep:
          $ref: '#/components/schemas/AuthorisedRepDRF'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/RoleDTODRF'
        sso:
          $ref: '#/components/schemas/SsoDRF'
        id:
          type: string
        draftId:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
        color:
          type: string
        icon:
          $ref: '#/components/schemas/S3ObjectDRF'
        iconFileId:
          type: string
        templateThumbnailFileId:
          type: string
        descriptionUrl:
          type: string
        isSaMD:
          type: boolean
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        moduleConfigs:
          type: array
          items:
            $ref: '#/components/schemas/ModuleConfigDRF'
        onboardingConfigs:
          type: array
          items:
            $ref: '#/components/schemas/OnboardingModuleConfigDTODRF'
        learn:
          $ref: '#/components/schemas/LearnDRF'
        consent:
          $ref: '#/components/schemas/ConsentDRF'
        econsent:
          $ref: '#/components/schemas/EConsentDRF'
        keyActions:
          type: array
          items:
            $ref: '#/components/schemas/KeyActionConfigDRF'
        keyActionsEnabled:
          type: boolean
        profile:
          $ref: '#/components/schemas/ProfileDRF'
        features:
          $ref: '#/components/schemas/FeaturesDRF'
        extraCustomFields:
          type: object
          additionalProperties: {}
        surgeryDetails:
          $ref: '#/components/schemas/SurgeryDetailsDRF'
        contactUsURL:
          type: string
        version:
          type: integer
        integration:
          $ref: '#/components/schemas/IntegrationConfigDRF'
        language:
          type: string
        duration:
          type: string
        security:
          $ref: '#/components/schemas/SecurityDRF'
        mfaRequired:
          type: boolean
        code:
          type: string
        enrollmentCounter:
          type: integer
        staticEventConfig:
          $ref: '#/components/schemas/StaticEventConfigDRF'
        stats:
          $ref: '#/components/schemas/DeploymentStatsDRF'
        localizations:
          type: object
          additionalProperties: {}
        country:
          type: string
        dashboardConfiguration:
          $ref: '#/components/schemas/DeploymentLevelConfigurationDRF'
        labels:
          type: array
          items:
            $ref: '#/components/schemas/LabelDRF'
        tags:
          type: array
          items:
            type: string
        location:
          $ref: '#/components/schemas/LocationDRF'
        integrationDevices:
          type: array
          items:
            $ref: '#/components/schemas/IntegrationDeviceDRF'
        componentConfigs:
          type: object
          additionalProperties: {}
        defaultUnits:
          type: object
          additionalProperties: {}
        builder:
          $ref: '#/components/schemas/BuilderDRF'
        programId:
          type: integer
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    ClinicianOnlyFieldsDRF:
      type: object
      properties:
        surgeryDateTime:
          type: boolean
    ProfileFieldsDRF:
      type: object
      properties:
        givenName:
          type: boolean
        familyName:
          type: boolean
        dateOfBirth:
          type: boolean
        height:
          type: boolean
        gender:
          type: boolean
        biologicalSex:
          type: boolean
        race:
          type: boolean
        ethnicity:
          type: boolean
        ethnicityOptions:
          type: array
          items:
            $ref: '#/components/schemas/EthnicityOptionDRF'
        additionalContactDetails:
          $ref: '#/components/schemas/AdditionalContactDetailsItemDRF'
        mandatoryOnboardingFields:
          type: array
          items:
            type: string
        extraIds:
          $ref: '#/components/schemas/ProfileExtraIdsDRF'
        genderOptions:
          type: array
          items:
            $ref: '#/components/schemas/GenderOptionTypeDRF'
        bloodGroup:
          type: boolean
        phoneNumber:
          type: boolean
        email:
          type: boolean
        primaryAddress:
          type: boolean
        emergencyPhoneNumber:
          type: boolean
        familyMedicalHistory:
          type: boolean
        pastHistory:
          type: boolean
        presentSymptoms:
          type: boolean
        operationHistory:
          type: boolean
        chronicIllness:
          type: boolean
        allergyHistory:
          type: boolean
        pregnancy:
          type: boolean
        dateOfLastPhysicalExam:
          type: boolean
        unEditableFields:
          type: array
          items:
            type: string
        validators:
          type: object
          additionalProperties: {}
        ordering:
          type: array
          items:
            type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        ExcludedFromOrderingFields:
          type: array
          items:
            type: string
          title: ' excluded from ordering fields'
    DeleteChargeResponseObjectDRF:
      type: object
      properties:
        deletedCount:
          type: integer
    IntegrationConfigDRF:
      type: object
      properties:
        pamConfig:
          $ref: '#/components/schemas/PAMIntegrationConfigDRF'
    ProfileExtraIdsDRF:
      type: object
      properties:
        fenlandCohortId:
          type: boolean
        nhsId:
          type: boolean
        insuranceNumber:
          type: boolean
        wechatId:
          type: boolean
        aliveCorId:
          type: boolean
        medicalRecordNumber:
          type: boolean
        mandatoryOnboardingIds:
          type: array
          items:
            type: string
        unEditableIds:
          type: array
          items:
            type: string
    AdditionalContactDetailsItemDRF:
      type: object
      properties:
        altContactNumber:
          type: boolean
        regularContactName:
          type: boolean
        regularContactNumber:
          type: boolean
        emergencyContactName:
          type: boolean
        emergencyContactNumber:
          type: boolean
        mandatoryFields:
          type: array
          items:
            type: string
    StaticEventConfigDRF:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        preview:
          type: string
      required:
      - description
      - title
    CptChargeUnitObjectDRF:
      type: object
      properties:
        billingRecordId:
          type: string
        id:
          type: string
        code:
          type: string
        units:
          type: integer
        dateOfService:
          type: string
        extraDetails:
          type: object
          additionalProperties: {}
    AddClientRequestObjectDRF:
      type: object
      properties:
        name:
          type: string
        paymentFormula:
          type: string
        rate:
          type: integer
      required:
      - name
      - paymentFormula
    StatDRF:
      type: object
      properties:
        value:
          type: integer
        unit:
          type: string
      required:
      - value
    ClientMedicalRecordResponseObjectDRF:
      type: object
      properties:
        patients:
          type: array
          items:
            $ref: '#/components/schemas/MedicalRecordEntryDRF'
    ModuleScheduleDRF:
      type: object
      properties:
        isoDuration:
          type: string
        timesPerDuration:
          type: integer
        friendlyText:
          type: string
        timesOfDay:
          type: array
          items:
            type: string
        timesOfReadings:
          type: array
          items:
            type: string
        specificWeekDays:
          type: array
          items:
            type: string
    DeleteBillingRecordResponseObjectDRF:
      type: object
      properties:
        deletedCount:
          type: integer
        totalDeleteCount:
          type: integer
    LearnSectionDRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        order:
          type: integer
        articles:
          type: array
          items:
            $ref: '#/components/schemas/LearnArticleDRF'
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    BoardingStatusDRF:
      type: object
      properties:
        status:
          type: string
        updateDateTime:
          type: string
          format: date-time
        submitterId:
          type: string
        reasonOffBoarded:
          type: string
        detailsOffBoarded:
          type: string
      required:
      - status
    PatchedChargeUnitRecordRequestObjectDRF:
      type: object
      properties:
        code:
          type: string
        units:
          type: integer
        dateOfService:
          type: string
          format: date-time
        extraDetails:
          type: string
        dependentUnitId:
          type: string
    EConsentSectionDRF:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        details:
          type: string
        reviewDetails:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/ConsentSectionOptionsDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        contentType:
          type: string
        thumbnailUrl:
          type: string
        thumbnailLocation:
          $ref: '#/components/schemas/S3ObjectDRF'
        videoUrl:
          type: string
        videoLocation:
          $ref: '#/components/schemas/S3ObjectDRF'
      required:
      - contentType
      - type
    LearnDRF:
      type: object
      properties:
        id:
          type: string
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        sections:
          type: array
          items:
            $ref: '#/components/schemas/LearnSectionDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    ProfileDRF:
      type: object
      properties:
        fields:
          $ref: '#/components/schemas/ProfileFieldsDRF'
        clinicianOnlyFields:
          $ref: '#/components/schemas/ClinicianOnlyFieldsDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    FeedbackConfigDRF:
      type: object
      properties:
        enabled:
          type: boolean
        upperBound:
          type: integer
        lowerBound:
          type: integer
        query:
          type: string
        tags:
          type: array
          items:
            type: string
        cmsContentIds:
          type: array
          items:
            type: string
        severityFilter:
          type: array
          items:
            $ref: '#/components/schemas/SeverityFilterDRF'
        variabilityFilter:
          $ref: '#/components/schemas/VariabilityFilterDRF'
        feedbacks:
          type: array
          items:
            $ref: '#/components/schemas/FeedBacksGroupedByRagDRF'
      required:
      - enabled
    FeedBacksGroupedByRagDRF:
      type: object
      properties:
        rag:
          type: array
          items:
            type: string
        texts:
          type: array
          items:
            $ref: '#/components/schemas/FeedbackTextDRF'
      required:
      - rag
      - texts
    ConsentSectionOptionsDRF:
      type: object
      properties:
        type:
          type: integer
        text:
          type: string
        order:
          type: integer
        abortOnChoose:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - text
      - type
    ConsentSectionDRF:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        details:
          type: string
        reviewDetails:
          type: string
        options:
          type: array
          items:
            $ref: '#/components/schemas/ConsentSectionOptionsDRF'
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - type
    PerformanceOverviewResponseObjectDRF:
      type: object
      properties:
        limit:
          type: integer
        skip:
          type: integer
        total:
          type: integer
        itemsReading:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceReadingOverviewResponseRowObjectDRF'
        itemsMonitoring:
          type: array
          items:
            $ref: '#/components/schemas/PerformanceMonitoringOverviewResponseRowObjectDRF'
    PersonalDocumentDRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        fileType:
          type: string
        fileObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        createDateTime:
          type: string
          format: date-time
        updateDateTime:
          type: string
          format: date-time
      required:
      - fileObject
      - fileType
      - name
    FeedbackNotificationDataDRF:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
        offline:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        order:
          type: integer
    RoleDTODRF:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        permissions:
          type: array
          items:
            type: string
        userType:
          type: string
        isThirdParty:
          type: boolean
    RetrieveAvailableMonthsResponseObjectDRF:
      type: object
      properties:
        months:
          type: array
          items:
            type: string
        limit:
          type: integer
        skip:
          type: integer
        total:
          type: integer
    UpdateClientDeploymentRequestObjectDRF:
      type: object
      properties:
        clientId:
          type: string
        deploymentId:
          type: string
    SurgeryDateRuleDRF:
      type: object
      properties:
        maxPastRange:
          type: string
        maxFutureRange:
          type: string
    GetCPTProfilesResponseObjectDRF:
      type: object
      properties:
        profiles:
          type: array
          items:
            $ref: '#/components/schemas/CPTProfileEntryDRF'
    ChargeUnitRecordRequestObjectDRF:
      type: object
      properties:
        code:
          type: string
        units:
          type: integer
        dateOfService:
          type: string
          format: date-time
        extraDetails:
          type: string
        dependentUnitId:
          type: string
      required:
      - code
      - units
    EConsentDRF:
      type: object
      properties:
        id:
          type: string
        enabled:
          type: string
        review:
          $ref: '#/components/schemas/ConsentReviewDRF'
        revision:
          type: integer
        additionalConsentQuestions:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalConsentQuestionDRF'
        signature:
          $ref: '#/components/schemas/ConsentSignatureDRF'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/EConsentSectionDRF'
        instituteName:
          type: string
        instituteFullName:
          type: string
        instituteTextDetails:
          type: string
        admissionText:
          type: string
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
        title:
          type: string
        overviewText:
          type: string
        contactText:
          type: string
      required:
      - contactText
      - enabled
      - overviewText
      - sections
      - title
    NotificationDataDRF:
      type: object
      properties:
        title:
          type: string
        body:
          type: string
        offline:
          type: boolean
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
    RoleAssignmentDTODRF:
      type: object
      properties:
        roleId:
          type: string
        resource:
          type: string
        userType:
          type: string
        isActive:
          type: boolean
      required:
      - resource
      - roleId
    UserSurgeryDetailsDRF:
      type: object
      properties:
        operationType:
          type: string
        implantType:
          type: string
        roboticAssistance:
          type: string
    LearnArticleDRF:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        thumbnailUrl:
          $ref: '#/components/schemas/S3ObjectDRF'
        order:
          type: integer
        content:
          $ref: '#/components/schemas/LearnArticleContentDRF'
        updateDateTime:
          type: string
          format: date-time
        createDateTime:
          type: string
          format: date-time
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - content
      - type
    ExportClientInvoiceDetailsRequestObjectDRF:
      type: object
      properties:
        fileName:
          type: string
        skip:
          type: integer
        limit:
          type: integer
        yearMonth:
          type: string
        clientId:
          type: string
        search:
          type: string
      required:
      - yearMonth
    ClientInvoiceDetailRowObjectDRF:
      type: object
      properties:
        invoiceId:
          type: string
        clientId:
          type: string
        clientName:
          type: string
        invoiceEndDate:
          type: string
        userId:
          type: string
        givenName:
          type: string
        familyName:
          type: string
        dateOfBirth:
          type: string
        mrn:
          type: string
        serviceDescription:
          type: string
        units:
          type: integer
        rates:
          type: integer
        total:
          type: integer
    EthnicityOptionDRF:
      type: object
      properties:
        displayName:
          type: string
        value:
          type: string
        LocalizableFields:
          type: array
          items:
            type: string
          title: ' localizablefields'
      required:
      - displayName
      - value
    VariabilityFilterDRF:
      type: object
      properties:
        increased:
          type: array
          items:
            type: string
        decreased:
          type: array
          items:
            type: string
        noChange:
          type: array
          items:
            type: string
        unavailable:
          type: array
          items:
            type: string
    LearnArticleContentDRF:
      type: object
      properties:
        id:
          type: string
        cmsArticleId:
          type: string
        cmsThumbnail:
          type: string
        type:
          type: string
        timeToRead:
          type: string
        textDetails:
          type: string
        videoUrl:
          $ref: '#/components/schemas/S3ObjectDRF'
        url:
          type: string
        contentObject:
          $ref: '#/components/schemas/S3ObjectDRF'
        read:
          type: boolean
        isValid:
          type: boolean
        LocalizableFields:
          type: array
          items:
[...]
