openapi: 3.2.0
info:
  title: Huma Platform Export Configuration API
  version: 1.0.0
  description: Huma Platform
servers:
- url: https://workspace-gcp-uk.api.huma.com/api/integration/v1
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Export Configuration
paths:
  /api/extensions/v1/export_config/deployment/{deployment_id}:
    post:
      operationId: api_extensions_v1_export_config_deployment_create_[export_deployment_config]
      description: 'Export Deployment Configuration

        Exports the configuration of a specific deployment as a zip file, based on the deployment ID.'
      summary: Export Deployment Config
      parameters:
      - in: path
        name: deployment_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Export Configuration
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
  /api/extensions/v1/export_config/organization/{organization_id}:
    post:
      operationId: api_extensions_v1_export_config_organization_create_[export_organization_config]
      description: 'Export Organization Configuration

        Exports the configuration of a specific organization as a zip file, based on the organization ID.'
      summary: Export Organization Config
      parameters:
      - in: path
        name: organization_id
        schema:
          type: string
          pattern: ^[a-f0-9]{24}$
        required: true
      tags:
      - Export Configuration
      security:
      - JWT Auth: []
      - Hawk Auth: []
      - jwtAuth: []
      responses:
        '200':
          description: No response body
components:
  securitySchemes:
    Hawk_Auth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Hawk MAC authentication. Paste a full Authorization header value.


        Example:


        Authorization: Hawk id="userId:clientId", ts="<unix_ts>", nonce="<nonce>", mac="<mac>"[, hash="<hash>"][, ext="<ext>"]


        Note: Swagger UI cannot generate Hawk headers. Use your client to compute the MAC (e.g., with mohawk), then paste the full value here.'
    JWT_Auth:
      type: http
      scheme: bearer
      in: header
      bearerFormat: JWT
      description: 'Use HTTP Bearer auth with a JWT.


        Send the token in the Authorization header:


        Authorization: Bearer <your_jwt_here>


        The token should contain standard claims plus projectId and clientId in user claims.'
    jwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
